- if @session.new_record?
  - url = experiment_sessions_path(@experiment)
- else
  - url = experiment_session_path(@experiment, @session)
  
= simple_form_for @session, {:html => {:class => "guarded_form"}, :url => url} do |f| 
  = f.input :start_date, :required => false
  = f.input :start_time, :required => false, :collection => Session.session_times, :include_blank => false
  = f.input :duration, :required => false
  = f.input :description, :as => :text
  = f.input :needed
  = f.input :reserve
  
  -# Wenn der aktuelle Raum nicht mehr aktiv ist, dann alle Räume anzeigen, sonst nur aktive
  - if @session.location && !@session.location.active?
    = f.association :location
  - else
    = f.association :location, :collection => Location.where(:active => true)
    
  %br
  = f.submit "Session speichern", :class => "guarded_form_save"
  %br
  %br
  
