- if @session.new_record?
  - url = experiment_sessions_path(@experiment)
  - id = ""
  - button_text = t('.new_session')
- else
  - url = experiment_session_path(@experiment, @session)
  - id = @session.id.to_s
  - button_text = t('.save_session')
  
= simple_form_for @session, {:html => {:class => "guarded_form session_update form-horizontal"}, :url => url } do |f|   
  = f.input :reference_session_id, :as => :hidden
  = f.input :start_date, :required => false
  = f.input :duration, :collection => (1..16).map{|x| x*15}, :default => 15
  
  - unless @session.is_subsession?
    = f.input :needed, :default => 20
    = f.input :reserve, :default => 3
  
  
  = f.input :description, :as => :text
  - unless @session.is_subsession?
    = f.input :limitations, :as => :text, :hint => t('.limitations_hint')
 
  
  = f.input :time_before, :collection =>  (0..12).map{|x| [(x*5).to_s+" #{t('.minutes')}", x*5]}, :include_blank => false
  = f.input :time_after, :collection =>  (0..12).map{|x| [(x*5).to_s+" #{t('.minutes')}", x*5]}, :include_blank => false
  = f.input :group_size, :collection => (1..20), :include_blank => true
  

  / Wenn der aktuelle Raum nicht mehr aktiv ist, dann alle Räume anzeigen, sonst nur aktive
  - if @session.location && !@session.location.active?
    = f.association :location
  - else
    = f.association :location, :collection => Location.where(:active => true)

  %br
  
  = f.submit button_text, :class => "guarded_form_save btn btn-primary", :style => "margin-left: 0px"
 