%tr{:class =>if session.is_subsession? then "subsession" else "" end}
  %td.span7
    %span.time{:class => if session.end_at < Time.zone.now then "past" end}
   
      = '+' if session.is_subsession?
      = session.time_str

    .room
      =truncate(session.location.name, :length => 30) if session.location
  
    - r = session.is_subsession? ? session.reference_session : session

    .participants
      - surplus = r.session_participations.count - r.needed

      - css_class = if surplus < 0 then |
          "participants-red"            |
        elsif surplus < r.reserve then  |
          "participants-yellow"         |
        else                            |
          "participants-green"          |
        end                             |
      = link_to "#{t('.participants_label')} #{r.session_participations.count} (#{r.needed},#{r.reserve})#{", #{t('.group_size')} "+session.group_size.to_s if session.group_size}", participants_experiment_session_path(@experiment, session), :class => css_class
  
      - if session.end_at < Time.zone.now then
        - if session.session_participations.where('showup=0 AND participated=0 AND noshow=0').count > 0
          %span.session-warning
            =t '.incomplete'
  
  %td.span5
    .btn-group
      - if current_user.has_right?(@experiment, 'manage_sessions')
        = link_to t(:edit), edit_experiment_session_path(@experiment, session), :class => 'btn btn-primary'
      = link_to t('.participants_link'), participants_experiment_session_path(@experiment, session), :class => 'btn btn-default'
    
    
    - if current_user.has_right?(@experiment, 'manage_sessions')
      .btn-group
        %a.btn.btn-default.dropdown-toggle{:'data-toggle' => "dropdown", :href => "#"}
          =t '.actions'
          %b.caret
        %ul.dropdown-menu
          - unless session.is_subsession?
            %li= link_to t('.following_session'), new_experiment_session_path(:experiment_id => @experiment, :reference_session_id => session.id), :class => "session_new_subsession"
          %li= link_to t('.duplicate'), duplicate_experiment_session_path(@experiment, session)
          %li= link_to t('.delete'), experiment_session_path(@experiment, session), :method => :delete, :confirm => t('.delete_confirm')
