= hidden_field_tag :sort, params[:sort]
= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :user_action, ''

= render :partial => "sessions/tabs", :locals => {:selected => :participants}


- if @users.count > 0
  .menu    
    /= link_to t('.print'), print_experiment_session_path(@experiment, @session), :class => "btn btn-default new-window", :style => "float:right"
    .btn-group{:style => "float:right"}
      %a.btn.btn-default.dropdown-toggle{:'data-toggle' => "dropdown", :href => "#"}
        =t '.data_menu'
        %b.caret 
      %ul.dropdown-menu
        %li= link_to t('.print'), print_experiment_session_path(@experiment, @session), :'target' => "_blank", :class => "with_search"
        %li= link_to t('.save_as_csv'), csv_experiment_session_path(@experiment, @session), :class => "with_search"
        %li= link_to t('.save_as_excel'), excel_experiment_session_path(@experiment, @session), :class => "with_search"

    - if current_user.has_right?(@experiment, 'send_session_messages')

      
      = link_to t('.send_to_all'), '#', :class => "btn btn-default open-modal", :'data-to' => t('.send_to_all_recipient'), :'data-subject'=> t('.message_subject', :date => @session.time_str), :'data-mode' => 'all', :'data-url' => send_message_experiment_session_path(@experiment, @session),  :style => "float:left"
      = link_to t('.send_to_marked'), '#', :class => "btn btn-default open-modal context-menu", :'data-to' => t('.send_to_marked_recipient'), :'data-subject'=> t('.message_subject', :date => @session.time_str), :'data-mode' => 'selected', :'data-url' => send_message_experiment_session_path(@experiment, @session), :style => "float:left; display:none"
      
    - if current_user.has_right?(@experiment, 'manage_participants')
      .btn-group.context-menu{:style => "float:left; display:none"}
        %a.btn.btn-default.dropdown-toggle{:'data-toggle' => "dropdown", :href => "#"}
          =t '.marked'
          %b.caret 
        %ul.dropdown-menu
          %li= link_to t('.remove_marked'), '#', :class => 'user_action_link', :'data-value' => 0
          / todo refactor this
          /- @session.alternative_sessions.each  do |s|
          /  %li= link_to "#{t('.move_marked', :session => s.time_str)}", '#', :class => 'user_action_link', :'data-value' => s.id
            
    %br
    %br
  
  = render :partial => 'shared/table', :locals => {:users => @users, :columns => Rails.configuration.session_participants_table_columns + [:form_fields], :session_participant_view => true}
  
  = button_tag t('.save_changes_now'), :name => "save", :class => "btn btn-primary"
        
- else
  %br
  %b
    =t('.no_participants')
  %br  
  %br
%br
%br
