= hidden_field_tag :sort, params[:sort]
= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :user_action, ''

%br

%h2
  =t '.header'
  = @session.time_str

- if @session.location
  = @session.location.name 
  %br
  
%br

- selection_boxes = (current_user.has_right?(@experiment, 'manage_participants') || current_user.has_right?(@experiment, 'send_session_messages'))
- participation_boxes = (current_user.has_right?(@experiment, 'manage_participants') || current_user.has_right?(@experiment, 'manage_showups'))

  
- if @users.count > 0
  .menu    
    = link_to t('.print'), print_experiment_session_path(@experiment, @session), :class => "btn new-window", :style => "float:right"
    - if current_user.has_right?(@experiment, 'send_session_messages')
      = link_to t('.send_to_all'), '#', :class => "btn send-message", :'data-to' => "Alle Sessionteilnehmer", :'data-subject'=> "Experiment-Session am "+ @session.time_str, :'data-mode' => 'all',  :style => "float:left"
      = link_to t('.send_to_marked'), '#', :class => "btn send-message context-menu", :'data-to' => "Markierte Sessionteilnehmer", :'data-subject'=> "Experiment-Session am "+ @session.time_str, :'data-mode' => 'selected', :style => "float:left"
      
    - if current_user.has_right?(@experiment, 'manage_participants')
      .btn-group.context-menu{:style => "float:left"}
        %a.btn.dropdown-toggle{:'data-toggle' => "dropdown", :href => "#"}
          =t '.marked'
          %b.caret 
        %ul.dropdown-menu
          %li= link_to t('.remove_marked'), '#', :class => 'user_action_link', :'data-value' => 0
          - @session.alternative_sessions.each  do |s|
            %li= link_to "#{t('.move_marked1')} #{s.time_str} #{t('.move_marked2')}", '#', :class => 'user_action_link', :'data-value' => s.id
            
    %br
    %br
  
  %table.table
    %thead
      %tr
        %th
          = check_box_tag "", "", false, :id => "select_all_users" if selection_boxes
        %th
        %th= sortable_for_form 'lastname', t('.th_name')
        %th= sortable_for_form 'email', t('.th_email')
        %th= sortable_for_form 'study_name', t('.th_study')
        %th= sortable_for_form 'gender',  t('.th_gender')
        %th= sortable_for_form 'begin_date', t('.th_begin')
        %th.popup{:'data-popup' => t('popup.showup')} 
          = t 'session_show_shortcut'
          - if participation_boxes
            %br
            = check_box_tag "", "", false, :id => "all_show"
        %th.popup{:'data-popup' => t('popup.participated')} 
          = t 'session_participated_shortcut'
          - if participation_boxes
            %br
            = check_box_tag "", "", false, :id => "all_participation"
      
        %th.popup{:style => "color:red", :'data-popup' => t('popup.noshow')}
          = t 'session_noshow_shortcut'
          - if participation_boxes
            %br
            = check_box_tag "", "", false, :id => "all_noshow"

    %tbody  
      - @users.each_with_index do |user, index| 
        - cl = []; 
        - cl << "deleted" if user.deleted
        - cl << "import_inactive" if user.imported && !user.activated_after_import
        %tr{:class => cl.join(' ')}
          %td
            = check_box_tag "selected_users[#{user.id}]", '1', false, :class => 'selected_users' if selection_boxes
            - if !user.deleted && user.imported && !user.activated_after_import
              %i.icon-ban-circle
          
            - unless user.reminded_at.nil?
              %i.icon-user
            
          %td= index + 1
      
          %td= link_to highlight(truncate(user.lastname, {:length => 15}), params[:search])+', '+highlight(truncate(user.firstname, {:length => 10}), params[:search]), user_path(user)
          %td= link_to highlight(truncate(user.email, {:length => 20}), params[:search]), "mailto:#{user.email}"
          %td.study_name_popup{:'data-text' => user.study_name || t(:no_info) }
            =user.study_name ? truncate(user.study_name, {:length => 10}) : t(:no_info)
          %td= user.gender
          %td= user.begin_date 
          %td= check_box_tag "showups[#{user.id}]", "1", user.session_showup == 1, :class => "show_checkbox", :disabled => !participation_boxes, :'data-id' => user.id
          %td= check_box_tag "participations[#{user.id}]", "1", user.session_participated == 1, :class => "participation_checkbox", :disabled => !participation_boxes, :'data-id' => user.id
          %td
            = check_box_tag "noshows[#{user.id}]", "1", user.session_noshow == 1, :class => "noshow_checkbox", :'data-id' => user.id, :disabled => !participation_boxes
            = hidden_field_tag "ids[#{user.id}]", "1"
                
  - if participation_boxes     
    = button_tag t('.save_changes_now'), :name => "save", :class => "btn btn-primary"
        
- else
  %br
  %b
    =t('.no_participants')
  %br  
  %br
%br
%br
