= content_for :breadcrumb do
  = render :partial => "layouts/crumb", :object => [           |
      link_to(t('administration'), :controller => "admin", :action => "index"), |
      link_to(t(:experiments_header), experiments_path),                |
      link_to(@experiment.name,experiment_sessions_path(@experiment)), |
      t(:sessions_label)]
      

= render :partial => "experiments/enrollment"
  
%h1
  = @experiment.name


= render :partial => "experiments/tabs", :locals => {:selected => :sessions}

= render :partial => "sessions/tabs", :locals => {:selected => :common_data}



= render 'form' 