= render :partial => "experiments/enrollment"
  
%h1
  = @experiment.name


= render :partial => "experiments/tabs", :locals => {:selected => :sessions}

= render :partial => "sessions/tabs", :locals => {:selected => :common_data}



= render 'form' 