= content_for :breadcrumb do
  &gt;
  = link_to "Experimente", experiments_path
  &gt;
  = link_to @experiment.name, edit_experiment_path(@experiment)
  &gt;
  =link_to "Sessions", experiment_sessions_path(@experiment )
  &gt;
  Session bearbeiten

%h3
  = @experiment.name  


= render :partial => "experiments/tabs", :locals => {:selected => 2}
%br
%br
%br

= render 'form' 


