= content_for :breadcrumb do
  = render :partial => "layouts/crumb", :object => [           |
      link_to("Experimente", experiments_path),                |
      link_to(@experiment.name,experiment_sessions_path(@experiment)), |
      "Sessions"]
      

= render :partial => "experiments/enrollment"
  
%h1
  = @experiment.name


= render :partial => "experiments/tabs", :locals => {:selected => "Sessions"}

= link_to "Zurück zur Session-Übersicht", experiment_sessions_path(@experiment), :class => "btn"

%br
%br
%h2
  = "#{@session.is_subsession? ? "Folgesession" : "Session"} am #{@session.time_str}"
%br

= render :partial => "sessions/tabs", :locals => {:selected => "Allgemeine Daten"}



= render 'form' 