= content_for :breadcrumb do
  = render :partial => "layouts/crumb", :object => [           |
      link_to("Experimente", experiments_path),                |
      link_to(@experiment.name,experiment_sessions_path(@experiment)), |
      "Sessions"]
      

= render :partial => "experiments/enrollment"
  
%h1
  = @experiment.name


= render :partial => "experiments/tabs", :locals => {:selected => "Sessions"}


= button_to 'Neue Session anlegen', new_experiment_session_path(@experiment), :method => :get, :form_class => "session_new",  :class => "btn btn-primary"

%br


#sessions
  = render :partial => 'list', :locals => {:sessions => @sessions, :edit_session => nil}