= content_for :breadcrumb do
  = render :partial => "layouts/crumb", :object => [           |
      link_to(t('administration'), :controller => "admin", :action => "index"), |
      link_to(t(:experiments_header), experiments_path),                |
      link_to(@experiment.name,experiment_sessions_path(@experiment)), |
      t(:sessions_label)]
      

#state= render :partial => "experiments/enrollment"
  
%h1
  = @experiment.name


= render :partial => "experiments/tabs", :locals => {:selected => :sessions}

- if current_user.has_right?(@experiment, 'manage_sessions')
  = link_to t('sessions.new_session_link'), new_experiment_session_path(@experiment), :class => "btn btn-primary"

%br
%br

%table.table
  - @sessions.each do |session| 
    = render :partial => 'line', :locals => {:session => session}
    - session.following_sessions.each do |subsession|
      = render :partial => 'line', :locals => {:session => subsession}
