= content_for :breadcrumb do
  &gt;
  = link_to "Experimente", experiments_path
  &gt;
  = link_to @experiment.name, experiment_path(@experiment)
  &gt;
  =link_to "Sessions", experiment_sessions_path(@experiment )
  &gt;
  Neue Session

%h3
  = @experiment.name  


= render :partial => "experiments/tabs", :locals => {:selected => "Sessions"}

%br
%br
%br

= render 'form'

