= content_for :breadcrumb do
  = render :partial => "layouts/crumb", :object => [           |
      link_to(t(:experiments_header), experiments_path),                |
      link_to(@experiment.name,experiment_sessions_path(@experiment)), |
      t(:sessions_label)]
      

= render :partial => "experiments/enrollment"
  
%h1
  = @experiment.name


= render :partial => "experiments/tabs", :locals => {:selected => :sessions}

= link_to t('sessions.back_link'), experiment_sessions_path(@experiment), :class => "btn"

%br
%br
%h2= "#{t('.new_label1')} #{@session.is_subsession? ? t('sessions.following_session') : t('sessions.session')} #{t('.new_label2')}"
  
%br


= render 'form' 