= content_for :breadcrumb do
  = render :partial => "layouts/crumb", :object => [           |
      link_to(t(:experiments_header), experiments_path),                |
      link_to(@experiment.name,experiment_sessions_path(@experiment)), |
      t(:sessions_label)]


= render :partial => "experiments/enrollment"
= render :partial => "shared/messaging"  
  

%h1
  = @experiment.name  


= render :partial => "experiments/tabs", :locals => {:selected => :sessions}


= link_to t('sessions.back_link'), experiment_sessions_path(@experiment), :class => "btn"
%br

= form_tag participants_experiment_session_path(@experiment, @session), :method => 'post', :id => "user_search" do
  #session_participants
    = render 'session_participants'
    
    
    
  
