= content_for :breadcrumb do
  = render :partial => "layouts/crumb", :object => [           |
      link_to(t('administration'), :controller => "admin", :action => "index"), |
      link_to(t(:experiments_header), experiments_path),                |
      link_to(@experiment.name,experiment_sessions_path(@experiment)), |
      t(:sessions_label)]


= render :partial => "experiments/enrollment"

- if @session.reminder_enabled
  = render :partial => "shared/messaging", :locals => {:reminder_header => @session.reminder_subject, :reminder_text => @session.reminder_text, :session_context => true}  
- elsif @session.experiment.reminder_enabled
  = render :partial => "shared/messaging", :locals => {:reminder_header => @session.experiment.reminder_subject, :reminder_text => @session.experiment.reminder_text, :session_context => true}  
- else
  = render :partial => "shared/messaging", :locals => {:session_context => true}    


%h1
  = @experiment.name  

= render :partial => "experiments/tabs", :locals => {:selected => :sessions}

= form_tag participants_experiment_session_path(@experiment, @session), :method => 'post', :id => "user_search" do
  #session_participants
    = render 'session_participants'
    
    
    
  
