= content_for :breadcrumb do
  = render :partial => "layouts/crumb", :object => [           |
      link_to("Experimente", experiments_path),                |
      link_to(@experiment.name,experiment_sessions_path(@experiment)), |
      "Sessions"]


= render :partial => "experiments/enrollment"
= render :partial => "shared/messaging"  
  

%h1
  = @experiment.name  


= render :partial => "experiments/tabs", :locals => {:selected => "Sessions"}


= link_to "Zurück zur Session-Übersicht", experiment_sessions_path(@experiment), :class => "btn"
%br

= form_tag participants_experiment_session_path(@experiment, @session), :method => 'post', :id => "user_search" do
  #session_participants
    = render 'session_participants'
    
    
    
  
