%br 

- fields.each_with_index do |field, i|
  %a.open-search-box{:'data-field' => field}= t('search.links.'+field.to_s)
  = '|' unless fields.length-1 == i
  
%br
%br

- fields.each do |field|
  .search-block{:id => field, :style => "min-height:70px; " + (params[:search][field] ? '' : 'display:none')}
    %a.close.close-search-field
      %i.icon-remove-circle
    
    .search-header
      = t("search.titles.#{field}")
    
    - options = Search.options_for(field)

    - if options[:db_values]
      - if options[:translate]
        - vals = options[:db_values].map{|a| [I18n.t("#{options[:translation_prefix]}.#{field}.#{if a.kind_of? Integer then "value"+a.to_s else a end}"), a]}
      - else
        - vals = options[:db_values].map{|a| [a,a]}

      = render :partial => Search.partial_for(field), :locals => options.merge({:values => vals})
    - else
      = render :partial => Search.partial_for(field), :locals => options