= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      =link_to t('login_area'), :controller => "account", :action => "index"
      %span.divider
        &gt;
    %li.active
      =t 'account_options'

%h3=t 'account_options'

= render :partial => "account/tabs", :locals => {:selected => :password} 

%h3 Passwort ändern

%br

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| 

  = f.label :password 
  = f.password_field :password

  = f.label :password_confirmation
  = f.password_field :password_confirmation

  %br
  %br
  Bitte geben Sie das aktuelle Passwort zur Bestätigung ein
  %br
  = f.password_field :current_password
  %br
  %br
  = f.submit "Passwort ändern", :class => "btn btn-primary"
