= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      =link_to t('login_area'), :controller => "account", :action => "index"
      %span.divider
        &gt;
    %li.active
      =t 'account_options'

%h3=t 'account_options'

= render :partial => "account/tabs", :locals => {:selected => :password} 

%h3=t 'devise.registrations.edit.change_password'

%br

= render 'layouts/errors', object: resource   

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| 

  =t 'devise.registrations.edit.please_confirm_password'
  %br
  = f.password_field :current_password

  %br
  %br

  = t('devise.registrations.edit.label_new_password')
  %br
  = f.password_field :password

  %br

  = t('devise.registrations.edit.label_new_password_confirm')
  %br
  = f.password_field :password_confirmation
  
  %br
  %br
  = f.submit t('devise.registrations.edit.change_password_link'), :class => "btn btn-primary"
