= content_for :breadcrumb do
  &gt;
  = link_to "Startseite", root_path
  &gt;
  Registieren

%h2 Registrierung


= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| 
  = f.input :firstname, :required => false
  = f.input :lastname, :required => false
  = f.input :matrikel, :required => false
    
  - if Settings.mail_restrictions && Settings.mail_restrictions.map{|r| r['suffix']}.select{|r| !r.blank?}.count > 0
    = f.label "&nbsp;"
    = f.text_field :email_prefix
    @
    = f.select :email_suffix, options_for_select(Settings.mail_restrictions.map{|r| r['suffix']}.select{|r| !r.blank?}, params[:user] ? params[:user][:email_suffix] : "")
    = f.error :email
  - else
    = f.input :email, :placeholder => 'name@domain.com'
    
  = f.input :password
  = f.input :password_confirmation

  = f.submit "Registrieren"
  
