= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      = link_to t(:root_page), root_path
      %span.divider
        &gt;
    %li.active
      =t 'devise.registrations.new.breadcrumb_register'  

.row
  .span8
      
    %h1= t 'devise.registrations.new.register'
    %p
      %br
      =t 'devise.registrations.new.enter_email'
      
    = simple_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'} do |f| 
      %br
      - if Settings.mail_restrictions && Settings.mail_restrictions.map{|r| r['suffix']}.select{|r| !r.blank?}.count > 0  
        = f.label :email
        = f.text_field :email_prefix, :class => "span1"
        @
        = f.select :email_suffix, options_for_select(Settings.mail_restrictions.map{|r| r['suffix']}.select{|r| !r.blank?}, params[:user] ? params[:user][:email_suffix] : "")
        = f.error :email
        %br
        %br
      - else
        = f.input :email, :placeholder => 'name@domain.com'

      = f.input :password  
      = f.input :password_confirmation, :hint => t('devise.registrations.new..password_hint')
  

      %br
      %hr
      =t 'devise.registrations.new.please_provide_data'
      %br
      %br

      = f.input :gender, :collection => {t('form_values.male') => 'm', t('form_values.female') => 'f'}, :as => :select, :required => false
      = f.input :birthday, :include_blank => "true", :order => [:day, :month, :year], :required => false, :start_year => Date.today.year-16, :end_year => 1900
      = f.input :firstname, :required => false
      = f.input :lastname, :required => false
      = f.input :matrikel, :required => false
      = f.input :country_name, :priority => [ "Germany" ], :blank => true
      = f.input :preference, :collection => {t('form_values.type_both')=>0, t('form_values.type_presence')=>1, t('form_values.type_online')=>2}, :default => 0

      %hr
      =t 'devise.registrations.new.optional_data'
      %br
      %br
      %br
      
      = f.input :phone, :hint => t('devise.registrations.new.phone_hint')
      
      = f.input :lang1, :collection => Language.all.map{|s| [s.name, s.id]}, :as => :select, :required => false
      = f.input :lang2, :collection => Language.all.map{|s| [s.name, s.id]}, :as => :select, :required => false, :wrapper_html => {:style => "display:none", :id => "lang2"}
      = f.input :lang3, :collection => Language.all.map{|s| [s.name, s.id]}, :as => :select, :required => false, :wrapper_html => {:style => "display:none", :id => 'lang3'}

      %br
      
      = f.input :study_id, :collection => Study.all.map{|s| [s.name, s.id]}
      = f.input :degree_id, :collection => Degree.all.map{|s| [s.name, s.id]}
      = f.input :begin_month, :collection => 1..12, :as => :select, :required => false
      = f.input :begin_year, :collection => (Date.today.year-10 .. Date.today.year), :as => :select, :required => false
      
      .checkbox-wrapper
        = f.check_box :experience 
        =t 'devise.registrations.new.experience'
      %br
      %hr
  
      = f.error :terms_and_conditions, :style => "color:red"
      %br
      %br
      = f.check_box :terms_and_conditions
      =t 'devise.registrations.new.terms_and_conditions'
      %br
      %br
      = text_area_tag "terms_conditions_text", Settings.terms_and_conditions[I18n.locale.to_s], :readonly => true, :cols => 100, :class => "span8", :rows => 15
  
      %br
      %br
  
      = f.submit t('devise.registrations.new.send_link'), :id => 'register_button', :class => "btn btn-primary"
  
      %br
      %br
      %br
  
