= content_for :breadcrumb do
  &gt;
  = link_to "Startseite", root_path
  &gt;
  Experiment-Anmeldung bestätigen

%h3 Anmeldungen zu Experimenten
Möchten Sie sich hiermit verbindlich zu folgendem Experiment anmelden?
%br
%br
#enrollment
  = form_tag enroll_register_path(params[:code]) do
    = hidden_field_tag("session", @session.id)
    = @session.time_str
    %br
    
    - @session.following_sessions.each do |f|  
      = f.time_str 
      (Folgesession)
      %br
    %br
            
    - unless @session.limitations.blank?
      .limitations
        %b
          Teilnahmehinweise: 
        %br
        = @session.limitations
            
    - if @session.location
      %small= "Raum: "+@session.location.name
      %br
            
    - if @session.following_sessions.count > 0
      %small
        Achtung: Dies ist ein Experiment mit Folgesessions, bitte überprüfen Sie, ob Sie an 
        %b
          allen
        angezeigten Terminen Zeit haben
        %br
            
    %br
    
    
    
    
    %br
    = submit_tag('VERBINDLICH ANMELDEN')
    oder
    = link_to "zurück", enroll_path(params[:code])

%br
%br
%br