= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      =link_to "Login-Bereich", :controller => "account", :action => "index"
      %span.divider
        >
    %li.active
      Experiment-Anmeldung bestätigen

%h3 Experiment-Anmeldung bestätigen
Möchten Sie sich hiermit verbindlich zu folgendem Experiment anmelden?
%br
%br

= form_tag enroll_register_path(params[:code]) do
  = hidden_field_tag("session", @session.id)
  
  .well
    Termine:
    %br
    %b= @session.time_str
    = @session.location.name if @session.location
            
    - if @session.following_sessions.count > 0
      %br
      - @session.following_sessions.each do |f|  
        %b= f.time_str 
        =f.location.name if f.location
        %br
    %br
    %br

    - unless @session.limitations.blank?
      %b
        Teilnahmehinweise: 
      %br
      = @session.limitations
          
  - if @session.following_sessions.count > 0
    .alert.alert-block
      %b Experiment mit Folgesessions:
      %br
      Dieses Experiment hat mehrere Termine, bitte überprüfen Sie, ob Sie an 
      %b allen
      angezeigten Terminen Zeit haben.
      %br
          
  %br
  = submit_tag 'Verbindlich anmelden', :class => "btn btn-danger"
  oder
  = link_to "zurück", enroll_path(params[:code])

