= content_for :breadcrumb do
  &gt;
  = link_to "Startseite", root_path
  &gt;
  Experiment-Anmeldung

#enrollment

  - if @session_participations_in_the_future.count > 0
    %h3 Sie sind zu folgenden Experimenten verbindlich angemeldet:
    - @session_participations_in_the_future.each do |p|
      .line
        = p.session.time_str
        %br
        %small= p.session.location.name if p.session.location
    %br
    %br  


  - if @availabe_sessions.count > 0
    %h3 Anmeldungen zu Experimenten
    Sie können sich für folgende Termine anmelden:
    %br
    %br
  
    = form_tag enroll_confirm_path(params[:code]) do
      - @availabe_sessions.each do |s|
        .line
          .button
            = radio_button_tag "session", "#{s.id}" 
          .text
            = s.time_str
            %br
            %small= s.location.name if s.location
      %br
      = submit_tag('Zum gewählten Experiment anmelden')

    %br
    %br
    %br
