= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      =link_to t('login_area'), :controller => "account", :action => "index"
      %span.divider
        &gt;
    %li.active
      =t '.new_enrollment'


%h3=t '.new_enrollment'

- if @ungrouped_sessions.count + @session_groups.count > 0
  =t '.available_sessions'
  %br
  %br


  = form_tag enroll_confirm_path do

    -#todo this menu currently returns "no sessions currently available" if all grouped sessions.
    %table.table
      - @ungrouped_sessions.each do |s|
        %tr
          %td
            = radio_button_tag "choice", "session,#{s.id}"
          %td
            %b= s.time_str
            = s.location.name if s.location

            %br

            - unless s.limitations.blank?
              %b
                =t('enroll.notes')+':'
              %br
              = s.limitations
              %br
              %br
          %td
      - @session_groups.each do |group|
        - sessions = group.sessions_for_enrollment
        - if sessions.length > 0
          %tr
            %td
              = radio_button_tag "choice", "group,#{group.id}"
            %td
              - sessions.each do |s|
                %b= s.time_str
                = s.location.name if s.location
                %br
              %br
            %td
              .well
                - if group.is_randomized?
                  = t '.random_choice_desc'
                - else
                  = t '.all_choice_desc'

    = submit_tag t('.register_for_sessions'), :class => "btn btn-primary"


- else
  =t '.no_sessions_available'

