= content_for :breadcrumb do
  &gt;
  = link_to "Startseite", root_path
  &gt;
  Experiment-Anmeldung

#enrollment

  = render :partial => "shared/future_sessions", :locals => {:user => @user}


  - if @availabe_sessions.count > 0
    %h3 Anmeldungen zu Experiment-Sessions
    Sie können sich für folgende Termine anmelden:
    %br
    %br
  
    = form_tag enroll_confirm_path(params[:code]) do
      - @availabe_sessions.each do |s|
        .line
          .button
            = radio_button_tag "session", "#{s.id}" 
          .text
            = s.time_str
            %br
            
            - s.following_sessions.each do |f|  
              = f.time_str 
              (Folgesession)
              %br
            
            - unless s.limitations.blank?
              .limitations
                %b
                  Teilnahmehinweise: 
                %br
                = s.limitations
            
            %small= "Raum: "+s.location.name if s.location
            %br
            
            - if s.following_sessions.count > 0
              %small
                Achtung: Dies ist ein Experiment mit Folgesessions, bitte überprüfen Sie, ob Sie an 
                %b
                  allen
                angezeigten Terminen Zeit haben
              %br
            
            %br
      %br
      = submit_tag('Zu den gewählten Sessions anmelden')
      %br
      
      %small
        

    %br
    %br
    %br
