= stylesheet_link_tag "event_calendar" 

%h1
  =t '.cal_title'

%br

- overlaps = Session.find_overlapping_sessions(@year, @month)

- if overlaps.count > 0
  .alert.alert-danger
    =t '.calender_text_1'
    %br
    %br
    %ul
      - overlaps.each do |session|
        - session.overlap_ids.split(',').map(&:to_i).each_with_index do |id| 
          - s = Session.find(id)
          %li
            = link_to session.full_name, edit_experiment_session_path(session.experiment, session)
            =t '.overlaps'
            = link_to s.full_name, edit_experiment_session_path(s.experiment, s)

%br

= raw(event_calendar)


- if current_user.admin? || current_user.experimenter?
  .calendar_url
    =t '.as_ics'
    %span.url= public_calendar_url(current_user.calendar_key)
   
%br


%br
%br