= stylesheet_link_tag "event_calendar" 

= content_for :breadcrumb do
  &gt;
  =link_to "Administration", :controller => "admin", :action => "index"
  
  
  
  
- overlaps = Session.find_overlapping_sessions(@year, @month)

- if overlaps
  .overlaps
    In diesem Monat gibt es Terminkollisionen:
    %br
    %br
    %ul
      - overlaps.each do |session|
        %li
          Die Session im Experiment
          = session.experiment.name
          
          = '('+session.start_at.to_date.to_s+', '+session.start_at.strftime("%H:%M")+"-"+session.end_at.strftime("%H:%M")+')'
          überschneidet sich mit anderen Sessions!

%br

= raw(event_calendar)

%br
%br
%br