%h1
  Freischaltung

%br
Auf dieser Seite können Sie Ihren Account freischalten.
%br
%br
Ihre bisherige E-Mail-Adresse
%b{:style => "color:red"}= @activation_user.email
kann in unserem neuen System nicht verwendet werden.
%br
Bitte geben Sie eine gültige E-Mail-Adresse der Universität Hamburg an:
%br
%br
%br

= simple_form_for @activation_user, :html => {:class => "form-horizontal"}, :url => '' do |f| 
  = f.label :email
  = f.text_field :email_prefix, :class => "span1"
  @
  = f.select :email_suffix, options_for_select(Settings.mail_restrictions.map{|r| r['suffix']}.select{|r| !r.blank?}, params[:user] ? params[:user][:email_suffix] : "")
  = f.error :email
  %br
  %br
  = f.submit "E-Mail zur Bestätigung absenden", :class => "btn btn-primary"


%br
%br
Sie müssen diese E-Mail-Adresse einmal bestätigen und in Zukunft diese zum Login verwenden. Zukünftige E-Mails erhalten Sie aber wie gewohnt an die Adresse
%b= @activation_user.email
%br
%br
%h3 Kontakt
%p
  Bei Fragen oder Wünschen kontaktieren Sie uns bitte:
%p
  = link_to 'experiments@wiso.uni-hamburg.de', 'mailto:experiments@wiso.uni-hamburg.de'
