%h1
  =t('activation_title')

%br
=t('.activation_text_1')
%br
%br
=t('.activation_text_2')
%b{:style => "color:red"}= @activation_user.email
=t('.activation_text_3')
%br
=t('.activation_text_4')
%br
%br
%br

= simple_form_for @activation_user, :html => {:class => "form-horizontal"}, :url => '' do |f| 
  = f.label :email
  = f.text_field :email_prefix, :class => "span1"
  @
  = f.select :email_suffix, options_for_select(Settings.mail_restrictions.map{|r| r['suffix']}.select{|r| !r.blank?}, params[:user] ? params[:user][:email_suffix] : "")
  = f.error :email
  %br
  %br
  = f.submit t('.send_activation_email'), :class => "btn btn-primary"


%br
%br
=t('.activation_text_5')
= @activation_user.email
= '.'
%br
%br
%p
  =t('.activation_text_6')
%p
  = link_to Hroot::Application.config.contact_email, 'mailto:'+Hroot::Application.config.contact_email
            

%br
%br
%h3= t('.contact') 
%p
  =t('.activation_text_7')
%p
  = link_to Hroot::Application.config.contact_email, 'mailto:'+Hroot::Application.config.contact_email
            