= render :partial => "language_tab"

%br

= link_to t('languages.create_new_language'), new_language_path, :class => "btn btn-primary"

%br
%br

%table.table
  %thead
    %tr
      %th Name  
      %th 

  %tbody
    - @languages.each do |language| 
      %tr
        %td= truncate(language.name, :maxlength => 30)
        %td
          = link_to t(:edit), edit_language_path(language), :class => "btn btn-primary"
          = link_to t(:delete), language, :confirm => t('languages.confirm'), :method => :delete, :class => "btn"
  
%br

%br