= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
= hidden_field_tag :page, params[:page] || 1


.filter
  =t 'filter.search_text'
  %br
  = text_field_tag 'filter[search]', params[:filter][:search] 
  %br
  %br
  
  =t 'filter.header' 
  %br
  - [ 'gender', 'noshow', 'participated', 'fixed', 'begin', 'birthday', 'experience', |
      'study', 'country', 'degree', 'language', 'tags', 'experiment', 'preference'].each do |key|
    %a.open-link{:href => '#f'+key}=t("filter.#{key}")
    = '|' unless key == 'preference'
    
  %br
  %br
  
  = render :partial => 'shared/filter_gender'
  = render :partial => 'shared/filter_noshow' 
  = render :partial => 'shared/filter_participated' 
  = render :partial => 'shared/filter_fixed_amount'
  = render :partial => 'shared/filter_begin' 
  = render :partial => 'shared/filter_birthday' 
  = render :partial => 'shared/filter_experience' 
  = render :partial => 'shared/filter_study' 
  = render :partial => 'shared/filter_country'
  = render :partial => 'shared/filter_degree' 
  = render :partial => 'shared/filter_language' 
  = render :partial => 'shared/filter_tags' 
  = render :partial => 'shared/filter_experiment' 
  = render :partial => 'shared/filter_preference'


.searchinfo
  = submit_tag t('filter.submit'), :name => 'submit_mode', :class => "btn btn-primary"    
  =t 'filter.showing1'
  %b= @users.total_entries
  =t 'filter.showing2'
  %b= @user_count
  =t 'filter.showing3'
  %b= @participants_count


%hr
%br
%br

- if @users.count > 0
  = will_paginate @users,  :renderer => WillPaginate::ActionView::BootstrapLinkRenderer , :previous_label => "&lt;&lt;&nbsp;", :next_label => "&nbsp;&gt;&gt;"
  
  .menu
    = submit_tag t('.add_all'), :name => 'submit_all', :class => "btn" 
    = submit_tag t('.add_marked'), :name => 'submit_marked', :class => "btn context-menu"
  
  %br
  %br
  
    
  %table.table
    %thead
      %tr
        %th= check_box_tag "", "", false, :id => "select_all_users"
        %th
        %th= sortable_for_form 'lastname', 'Name'  
        -#%th= sortable_for_form 'firstname', 'Vorname'
        %th= sortable_for_form 'email', t(:email)
        %th= sortable_for_form 'study_name', t('.study')
        //%th= sortable_for_form 'gender',  'Gesch.'
        //%th= sortable_for_form 'begin_date', 'Beginn' 
        %th.popup{:'data-popup' => t('popup.noshow_count')}= sortable_for_form 'noshow_count' , t('noshow_shortcut')
        %th.popup{:'data-popup' => t('popup.participations_count')}= sortable_for_form 'participations_count' , t('participations_shortcut')

    %tbody
      - @users.each do |user| 
        - cl = []; 
        - cl << "deleted" if user.deleted
        - cl << "import_inactive" if user.imported && !user.activated_after_import
        %tr{:class => cl.join(' ')}
          %td= check_box_tag "selected_users[#{user.id}]", '1', false, :class => 'selected_users'
          %td
            - if !user.deleted && user.imported && !user.activated_after_import
              %i.icon-ban-circle.popup{:'data-popup' => t('popup.inactive_after_import')}
          
          %td= link_to highlight(truncate(user.lastname, {:length => 15}), params[:search])+', '+highlight(truncate(user.firstname, {:length => 10}), params[:search]), user_path(user)
          %td= link_to highlight(truncate(user.email, {:length => 20}), params[:search]), "mailto:#{user.email}"
          %td.study_name_popup{:'data-text' => user.study_name || t(:no_info) }
            =user.study_name ? truncate(user.study_name, {:length => 10}) : 'k. A.'
          //%td= user.gender
          //%td= user.begin_date 
          %td= "#{user.noshow_count}" if user.user?
          %td= "#{user.participations_count}" if user.user?
- else
  %br
  %b=t '.none_found'

  %br  
  =t '.none_found_reason'
  %br
  %br
  %br