= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
= hidden_field_tag :page, params[:page] || 1

.search
  = render :partial => 'shared/search/search', :locals => { :fields => [:fulltext, :noshow_count, :participations_count,:tags, :experiments,  :gender, :begin_of_studies, :birthday, :preference, :course_of_studies, :country_name, :degree, :language, :experience ] }

    
.searchinfo
  = submit_tag t('.submit'), :name => 'submit_mode', :class => "btn btn-primary"
  = raw t('.showing', :count => @users.total_entries, :total => @user_count, :participants => @participants_count)
  
%hr

- if @users.count > 0
  = will_paginate @users,  :renderer => WillPaginate::ActionView::BootstrapLinkRenderer , :previous_label => "&lt;&lt;&nbsp;", :next_label => "&nbsp;&gt;&gt;"
  
  .menu
    = submit_tag t('.add_all'), :name => 'submit_all', :class => "btn btn-default" 
    = submit_tag t('.add_marked'), :name => 'submit_marked', :class => "btn btn-default context-menu", :style => "display:none"
  
  %br
  %br
  
  = render :partial => 'shared/table', :locals => {:users => @users, :columns => Rails.configuration.add_user_table_columns}

- else
  %br
  %b=t '.none_found'

  %br  
  =t '.none_found_reason'
  %br
  %br
  %br  
    