= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
= hidden_field_tag :page, params[:page] || 1


.filter
  Suche in Name, Vorname, E-Mail-Adresse:
  %br
  = text_field_tag 'filter[search]', params[:filter][:search] 
  %br
  %br
  
  Filter: 
  %br
  - { 'gender' => 'Geschlecht', 'noshow' => 'Nichterscheinen', 'participated' => 'Teilnahmen', 'begin' => 'Studienbeginn', 'birthday' => "Alter", |
      'experience' => 'Erfahrung', 'study' => 'Fächer', 'degree' => 'Abschlüsse', 'language' => 'Sprachen', 'tags' => 'Tags', 'experiment' => 'Experimente', |  
      'preference' => 'Experiment-Präferenz'}.each do |key, value|
    %a.open-link{:href => '#f'+key}=value
    = '|' unless key == 'preference'
    
  %br
  %br
  
  = render :partial => 'shared/filter_gender'
  = render :partial => 'shared/filter_noshow' 
  = render :partial => 'shared/filter_participated' 
  = render :partial => 'shared/filter_begin' 
  = render :partial => 'shared/filter_birthday' 
  = render :partial => 'shared/filter_experience' 
  = render :partial => 'shared/filter_study' 
  = render :partial => 'shared/filter_degree' 
  = render :partial => 'shared/filter_language' 
  = render :partial => 'shared/filter_tags' 
  = render :partial => 'shared/filter_experiment' 
  = render :partial => 'shared/filter_preference'


.searchinfo
  = submit_tag "Filter anwenden und Ergebnis aktualisieren", :name => 'submit_mode', :class => "btn btn-primary"    
  Zeige
  %b= @users.total_entries
  von
  %b= @user_count
  Poolmitgliedern, bereits zugeordnet:
  %b= @participants_count


%hr
%br
%br

- if @users.count > 0
  = will_paginate @users,  :renderer => WillPaginate::ActionView::BootstrapLinkRenderer , :prev_label => "&lt;&lt;&nbsp;", :next_label => "&nbsp;&gt;&gt;"
  
  .menu
    = submit_tag "Alle Poolmitglieder der aktuellen Filterung zuordnen", :name => 'submit_all', :class => "btn" 
    = submit_tag "Markierte Poolmitglieder zuordnen", :name => 'submit_marked', :class => "btn context-menu"
  
  %br
  %br
  
    
  %table.table
    %thead
      %tr
        %th= check_box_tag "", "", false, :id => "select_all_users"
        %th
        %th= sortable_for_form 'lastname', 'Name'  
        -#%th= sortable_for_form 'firstname', 'Vorname'
        %th= sortable_for_form 'email', 'E-Mail'
        %th= sortable_for_form 'study_name', 'Fach'
        //%th= sortable_for_form 'gender',  'Gesch.'
        //%th= sortable_for_form 'begin_date', 'Beginn' 
        %th.qtip_ersch= sortable_for_form 'noshow_count' , '#N'
        %th.qtip_teil= sortable_for_form 'participations_count' , '#T'

    %tbody
      - @users.each do |user| 
        - cl = []; 
        - cl << "deleted" if user.deleted
        - cl << "import_inactive" if user.imported && !user.activated_after_import
        %tr{:class => cl.join(' ')}
          %td= check_box_tag "selected_users[#{user.id}]", '1', false, :class => 'selected_users'
          %td
            - if !user.deleted && user.imported && !user.activated_after_import
              %i.icon-warning-sign
          
          %td= link_to highlight(truncate(user.lastname, {:length => 15}), params[:search])+', '+highlight(truncate(user.firstname, {:length => 10}), params[:search]), user_path(user)
          %td= link_to highlight(truncate(user.email, {:length => 20}), params[:search]), "mailto:#{user.email}"
          %td.study_name_popup{:'data-text' => user.study_name || 'keine Angabe' }
            =user.study_name ? truncate(user.study_name, {:length => 10}) : 'k. A.'
          //%td= user.gender
          //%td= user.begin_date 
          %td= "#{user.noshow_count}" if user.user?
          %td= "#{user.participations_count}" if user.user?
- else
  %br
  %b
    Kein Poolmitglied gefunden
  %br  
  Entweder wurden bereits alle Poolmitglieder zugeordnet, oder die Filtereinstellungen müssen geändert werden.
  %br
  %br
  %br