= hidden_field_tag :sort, params[:sort]
= hidden_field_tag :direction, params[:direction]

.filter
  Suche in Name, Vorname, E-Mail-Adresse:
  %br
  = text_field_tag :search, params[:search] 
  %br
  %br

  Filter: 
  %br
  - { 'gender' => 'Geschlecht', 'noshow' => 'Nichterscheinen', 'participated' => 'Teilnahmen', 'begin' => 'Studienbeginn', 'birthday' => "Alter", |
      'study' => 'Fächer', 'language' => 'Sprachen', 'tags' => 'Tags', 'experiment' => 'Experimente', |
      'participation' => 'Sessionteilnahme', 'preference' => 'Experiment-Präferenz'}.each do |key, value|
    %a.open-link{:href => '#f'+key}=value
    = '|' unless key == 'preference'
 
  %br
  %br

  = render :partial => 'shared/filter_gender'
  = render :partial => 'shared/filter_noshow' 
  = render :partial => 'shared/filter_participated' 
  = render :partial => 'shared/filter_begin' 
  = render :partial => 'shared/filter_birthday' 
  = render :partial => 'shared/filter_study'
  = render :partial => 'shared/filter_language'  
  = render :partial => 'shared/filter_tags' 
  = render :partial => 'shared/filter_experiment'
  = render :partial => 'shared/filter_participation'
  = render :partial => 'shared/filter_preference'

.searchinfo
  = submit_tag "Filter anwenden und Ergebnis aktualisieren", :name => 'submit_mode', :class => "btn btn-primary"
  Zeige
  %b= @users.length
  von
  %b= @user_count
  
%hr
%br

.searchnav
  = link_to 'Alle auswählen', '#all', {:class => 'all-link'}
  |
  = link_to 'Alle abwählen', '#none', {:class => 'none-link'}
  |
  Markierte Teilnehmer
  = # submit_tag "entfernen", :name => 'submit_marked', :confirm => "Sind Sie sicher, dass die markierten Teilnehmer aus dem Experiment entfernt werden sollen?"
  
  = # params.inspect
  
  - h = {"aus diesem Experiment entfernen" => 0}
  - @experiment.sessions.main_sessions.each do |s|
    - h["in Session #{s.time_str} eintragen"] = s.id  
  = select_tag "move_member", options_for_select(h), :include_blank => true

%br

- if @users.count > 0
  %table.table
    %thead
      %tr
        %th  
        %th= sortable_for_form 'lastname', 'Name'  
        %th= sortable_for_form 'email', 'E-Mail'
        %th= sortable_for_form 'study_name', 'Fach'
        //%th= sortable_for_form 'gender',  'Gesch.'
        //%th= sortable_for_form 'begin_date', 'Beginn'
        %th.qtip_ersch= sortable_for_form 'noshow_count' , '#N'
        %th.qtip_teil= sortable_for_form 'participations_count' , '#T'
        %th= sortable_for_form 'session_start_at' , 'Session'
    
    %tbody  
      - @users.each do |user| 
        %tr
          %td
            = check_box_tag "selected_users[#{user.id}]"
            = image_tag("email_go.png", :alt => "Dieser User wurde bereits eingeladen") unless user.invited_at.nil?
          %td= link_to highlight(truncate(user.lastname, {:length => 15}), params[:search])+', '+highlight(truncate(user.firstname, {:length => 10}), params[:search]), user_path(user)
          %td= link_to highlight(truncate(user.email, {:length => 20}), params[:search]), "mailto:#{user.email}"
          %td.study_name_popup{:'data-text' => user.study_name || 'keine Angabe' }
            =user.study_name ? truncate(user.study_name, {:length => 10}) : 'k. A.'
          //%td= user.gender
          //%td= user.begin_date 
          %td= "#{user.noshow_count}" if user.user?
          %td= "#{user.participations_count}" if user.user?
          %td= "#{user.session_start_at.strftime("%d.%m.%Y %H:%M") if user.session_start_at}" 
- else
  %br
  %b
    Keine zugeordneten Teilnehmer gefunden
  %br  
  Entweder wurden noch keine Poolmitglieder zugeordnet, oder die Filtereinstellungen müssen geändert werden.
  %br
  %br
  %br
  