= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
= hidden_field_tag :page, params[:page] || 1
= hidden_field_tag :user_action, ''



.filter
  =t 'filter.search_text'
  %br
  = text_field_tag 'filter[search]', params[:filter][:search] 
  %br
  %br

  =t 'filter.header' 
  %br
  
  - [ 'gender', 'noshow', 'participated', 'begin', 'birthday', 'experience', |
      'study', 'degree', 'language', 'tags', 'experiment', 'participation', 'preference'].each do |key|
    %a.open-link{:href => '#f'+key}=t("filter.#{key}")
    = '|' unless key == 'preference'

  %br
  %br

  = render :partial => 'shared/filter_gender'
  = render :partial => 'shared/filter_noshow' 
  = render :partial => 'shared/filter_participated' 
  = render :partial => 'shared/filter_begin' 
  = render :partial => 'shared/filter_birthday' 
  = render :partial => 'shared/filter_experience' 
  = render :partial => 'shared/filter_study'
  = render :partial => 'shared/filter_degree' 
  = render :partial => 'shared/filter_language'  
  = render :partial => 'shared/filter_tags' 
  = render :partial => 'shared/filter_experiment'
  = render :partial => 'shared/filter_participation'
  = render :partial => 'shared/filter_preference'

.searchinfo
  = submit_tag t('filter.submit'), :name => 'submit_mode', :class => "btn btn-primary"
  =t 'filter.showing1'
  %b= @users.total_entries
  =t 'filter.showing2'
  %b= @user_count
  
%br

- if @users.count > 0
  = will_paginate @users,  :renderer => WillPaginate::ActionView::BootstrapLinkRenderer , :previous_label => "&lt;&lt;&nbsp;", :next_label => "&nbsp;&gt;&gt;"
  
  .menu
    = link_to t('.print'), '#', :class => "user_action_link btn", :style => "float:right",  :'data-value' => 'print_view', :'data-target' => "_blank"
    
    .btn-group{:style => "float:left"}
      %a.btn.dropdown-toggle{:'data-toggle' => "dropdown", :href => "#"}
        =t '.current_filtered'
        %b.caret 
      %ul.dropdown-menu
        %li= link_to t('.message_all_filtered'), '#', :class => "send-message", :'data-to' => t('.to_all_filtered'), :'data-mode' => 'all'
        %li= link_to t('.remove_filtered'), '#',  :'data-confirm' => t('.remove_filtered_confirm'), :class => 'user_action_link', :'data-value' => 'remove_all'
    .btn-group.context-menu{:style => "float:left"}
      %a.btn.dropdown-toggle{:'data-toggle' => "dropdown", :href => "#"}
        =t '.marked_participants'
        %b.caret 
      %ul.dropdown-menu
        %li= link_to t('.message_all_filtered'), '#', :class => "send-message", :'data-to' => t('.to_all_marked'), :'data-mode' => 'selected'
        %li= link_to t('.remove_marked'), '#', :'data-confirm' => t('.remove_marked_confirm'), :class => 'user_action_link', :'data-value' => 0
        - @experiment.sessions.main_sessions.each do |s|
          %li= link_to t('.move_marked1')+" #{s.time_str} "+t('.move_marked2'), '#', :class => 'user_action_link', :'data-value' => s.id
  
  %br
  %br
  
  
  %table.table
    %thead
      %tr
        %th= check_box_tag "", "", false, :id => "select_all_users"
        %th= sortable_for_form 'lastname', 'Name'  
        %th= sortable_for_form 'email', t(:email)
        %th= sortable_for_form 'study_name', t('.study')
        %th.popup{:'data-popup' => t('popup.noshow_count')}= sortable_for_form 'noshow_count' , t('noshow_shortcut')
        %th.popup{:'data-popup' => t('popup.participations_count')}= sortable_for_form 'participations_count' , t('participations_shortcut')
        %th= sortable_for_form 'session_start_at' , t(:session)
    
    %tbody  
      - @users.each do |user| 
        - cl = []; 
        - cl << "deleted" if user.deleted
        - cl << "import_inactive" if user.imported && !user.activated_after_import
        %tr{:class => cl.join(' ')}
          %td
            = check_box_tag "selected_users[#{user.id}]", '1', false, :class => 'selected_users'
          
            - unless user.invited_at.nil?
              %i.icon-envelope

            - if !user.deleted && user.imported && !user.activated_after_import
              %i.icon-ban-circle
          
            - unless user.reminded_at.nil?
              %i.icon-user
          
          
          %td= link_to highlight(truncate(user.lastname, {:length => 15}), params[:search])+', '+highlight(truncate(user.firstname, {:length => 10}), params[:search]), user_path(user)
          %td= link_to highlight(truncate(user.email, {:length => 20}), params[:search]), "mailto:#{user.email}"
          %td.study_name_popup{:'data-text' => user.study_name || t(:no_info) }
            =user.study_name ? truncate(user.study_name, {:length => 10}) : t(:no_info)
          %td= "#{user.noshow_count}" if user.user?
          %td= "#{user.participations_count}" if user.user?
          %td= "#{I18n.l(user.session_start_at) if user.session_start_at}" 
- else
  %br
  %b= t'.none_found'
  %br  
  
  = t'.none_found_reason'
  
  %br
  %br
  %br
  