.filter
  Suche in Name, Vorname, E-Mail-Adresse:
  %br
  = text_field_tag :search, params[:search] 
  %br
  %br

  Filter: 

  - { 'gender' => 'Geschlecht', 'noshow' => 'Nichterscheinen', 'participated' => 'Teilnahmen', 'begin' => 'Studienbeginn', |
      'study' => 'Fächer', 'experimenttype' => 'Experimenttypen', 'experiment' => 'Experimente'}.each do |key, value|
    %a.open-link{:href => '#f'+key}=value
    = '|' unless key == 'experiment'
    
  %br
  %br
  
  = render :partial => 'shared/filter_gender'
  = render :partial => 'shared/filter_noshow' 
  = render :partial => 'shared/filter_participated' 
  = render :partial => 'shared/filter_begin' 
  = render :partial => 'shared/filter_study' 
  = render :partial => 'shared/filter_experiment_type' 
  = render :partial => 'shared/filter_experiment' 

= hidden_field_tag :sort, params[:sort]
= hidden_field_tag :direction, params[:direction]

.searchinfo
  .right
    = submit_tag "Filter anwenden und Ergebnis aktualisieren", :name => 'submit_mode'
    
  Zeige
  %b= @users.length
  von
  %b= @user_count
  Poolmitgliedern, bereits zugeordnet:
  %b= @participants_count


%hr
%br

.searchnav
  = link_to 'Alle auswählen', '#all', {:class => 'all-link'}
  |
  = link_to 'Alle abwählen', '#none', {:class => 'none-link'}
  |
  = submit_tag "Markierte Poolmitglieder zuordnen", :name => 'submit_marked' 
  |
  = submit_tag "Alle angezeigten Poolmitglieder zuordnen", :name => 'submit_marked', :class => "submit_all" 

%br

- if @users.count > 0
  
  %table.user-table
    %tr
      %th
      %th= sortable_for_form 'lastname', 'Name'  
      -#%th= sortable_for_form 'firstname', 'Vorname'
      %th= sortable_for_form 'email', 'E-Mail'
      %th= sortable_for_form 'study_name', 'Fach'
      %th= sortable_for_form 'gender',  'Gesch.'
      %th= sortable_for_form 'begin_date', 'Beginn' 
      %th.qtip_ersch= sortable_for_form 'noshow_count' , '#N'
      %th.qtip_teil= sortable_for_form 'participations_count' , '#T'

    - @users.each do |user| 
      %tr
        %td= check_box_tag "selected_users[#{user.id}]"
        %td= highlight(truncate(user.lastname, {:length => 15}), params[:search])+', '+highlight(truncate(user.firstname, {:length => 10}), params[:search])
        %td= link_to highlight(truncate(user.email, {:length => 20}), params[:search]), "mailto:#{user.email}"
        %td.study_name_popup{:'data-text' => user.study_name || 'keine Angabe' }
          =user.study_name ? truncate(user.study_name, {:length => 10}) : 'k. A.'
        %td= user.gender
        %td= user.begin_date 
        %td= "#{user.noshow_count}" if user.user?
        %td= "#{user.participations_count}" if user.user?
- else
  %br
  %b
    Kein Poolmitglied gefunden
  %br  
  Entweder wurden bereits alle Poolmitglieder zugeordnet, oder die Filtereinstellungen müssen geändert werden.
  %br
  %br
  %br