= content_for :breadcrumb do
  &gt;
  = link_to "Experimente", experiments_path
  &gt;
  = link_to @experiment.name, edit_experiment_path(@experiment)
  &gt;
  Teilnehmer
  
= render :partial => "experiments/tabs", :locals => {:selected => 1} 

%br
%br
%br

= form_tag experiment_participants_path(@experiment), :method => 'get', :id => "participant_search" do
  %p  
    = text_field_tag :search, params[:search] 
    = submit_tag "Suche", :name => nil  


#participants
  = render 'participants'
