= content_for :breadcrumb do
  &gt;
  = link_to "Experimente", experiments_path
  &gt;
  = link_to @experiment.name, experiment_path(@experiment)
  &gt;
  Teilnehmer
  
%h3
  Experiment:
  = @experiment.name  
  
= render :partial => "experiments/tabs", :locals => {:selected => 1} 

%br
%br
%br

= form_tag experiment_participants_path(@experiment), :method => 'post', :id => "participant_search" do
  #participants
    = render 'participants'
