= render :partial => "experiments/enrollment"
= render :partial => "shared/messaging" 

%h1
  = @experiment.name 
  
= render :partial => "experiments/tabs", :locals => {:selected => :participants} 

%h2=t '.already_added_users'
%br


= form_tag experiment_participants_path(@experiment), :method => 'post', :id => "user_search" do
  #participants
    = render 'participants'
