= content_for :breadcrumb do
  = render :partial => "layouts/crumb", :object => [           |
      link_to("Experimente", experiments_path),                |
      link_to(@experiment.name,experiment_sessions_path(@experiment)), |
      "Teilnehmer"]


= render :partial => "experiments/enrollment"
  
%h1
  = @experiment.name 
  
= render :partial => "experiments/tabs", :locals => {:selected => "Zugeordnete"} 

%br
= form_tag experiment_participants_path(@experiment), :method => 'post', :id => "participant_search" do
  #participants
    = render 'participants'
