= content_for :breadcrumb do
  = render :partial => "layouts/crumb", :object => [           |
      link_to("Experimente", experiments_path),                |
      link_to(@experiment.name,experiment_sessions_path(@experiment)), |
      "Teilnehmer zuordnen"]
  
= render :partial => "experiments/enrollment"
  
%h1
  = @experiment.name  

= render :partial => "experiments/tabs", :locals => {:selected => "Teilnehmer"} 

%h2 Neue Teilnehmer zuordnen
%br

= form_tag manage_experiment_participants_path(@experiment), :method => 'post', :id => "user_search" do
  #users
    = render 'manage'
