= content_for :breadcrumb do
  &gt;
  = link_to "Experimente", experiments_path
  &gt;
  = link_to @experiment.name, edit_experiment_path(@experiment)
  &gt;
  Teilnehmer zuordnen
  
%h3
  = @experiment.name  

= render :partial => "experiments/tabs", :locals => {:selected => 3} 

%br
%br
%br

= form_tag manage_experiment_participants_path(@experiment), :method => 'post', :id => "participant_search" do
  #users
    = render 'users'
