%h3
  =t '.header'
  = @experiment.name
%br


- filter_setting_str = HistoryEntry.get_filter_setting_string(params[:filter])

- if filter_setting_str.count > 0
  =t('.filter_settings')+':'
  - HistoryEntry.get_filter_setting_string(params[:filter]).each do |tx|
    %span.badge= tx
  %br
  %br
  
- if @users.count > 0
  %table.table.table-striped
    %thead
      %tr
        %th
        %th= 'Name'  
        %th= t(:email)
        %th= t('.study')
        %th= t('noshow_shortcut')
        %th= t('participations_shortcut')
        %th= t(:session)
    
    %tbody  
      - @users.each_with_index do |user, index| 
        %tr
          %td= index+1
          %td= user.lastname+', '+truncate(user.firstname, {:length => 10})
          %td= user.email
          %td= user.study_name ? truncate(user.study_name, {:length => 10}) : t(:no_info)
          %td= "#{user.noshow_count}" if user.user?
          %td= "#{user.participations_count}" if user.user?
          %td= "#{user.session_start_at.strftime("%d.%m.%Y %H:%M") if user.session_start_at}" 
- else
  %br
  %b= t'.none_found'
  %br  
  %br