%br

= simple_form_for @user, :html => {:class => "guarded_form"} do |f| 
  = f.input :firstname, :required => false
  = f.input :lastname, :required => false
  = f.input :matrikel, :required => false
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  
  %br
  = f.input :role, :collection => User.roles, :include_blank => false
  %br
  = f.input :study_id, :collection => Study.all.map{|s| [s.name, s.id]}, :include_blank => true
  = f.input :begin_month, :collection => (1..12)
  = f.input :begin_year, :collection => (Time.now.year-10..Time.now.year)
  %br
  = f.input :deleted, :label => "Benutzer ist als gelöscht markiert" 
  
  %br
  = f.submit "Benutzer speichern", :class => "guarded_form_save"
  %br
  %br
  