%br
- if @user.new_record?
  - url = create_user_users_path
  - method = :post
- else
  - url = user_path
  - method = :put
  
  
= simple_form_for @user, :url => url, :method => method, :html => {:class => "guarded_form form-horizontal"} do |f| 
  .row
    .span5
      %h4= t('.general')
      %hr
      = f.input :firstname, :required => false
      = f.input :lastname, :required => false
      = f.input :role, :collection => User.roles_for_select, :include_blank => false
      = f.input :deleted, :collection => [[t('form_values.user_is_active'), false],[t('form_values.user_is_marked_as_deleted'), true]], :include_blank => false,  :label => t(:delete) 

    .span5
      %h4= t('.account')
      %hr  
      = f.input :email
      = f.input :secondary_email
      = f.input :password  
      = f.input :password_confirmation  

  .row
    .span10
      = f.input :comment, input_html: { style: "width:700px", rows:10}
  .row
    .span5
      %h4= t('.required_fields')
      %hr    
      - CUSTOM_FIELDS.required.each do |field|
        = field.add_to_form(f)
  
    .span5  
      %h4= t('.optional_fields')
      %hr      
      - CUSTOM_FIELDS.optional.each do |field|
        = field.add_to_form(f, :hint => false)
  
  - if @user.experimenter?
    .row
      .span10 
        %h4= t('.rights')
        %table#privilege-table.table{:'data-rights' => ExperimenterAssignment.right_list.to_json, :'data-rights-label' => I18n.t(:rights_label), :'data-default-rights' => Settings.default_privileges}
          - params[:privileges].each do |privilege|
            %tr{:'data-id' => privilege[:id]}
              %td
                = hidden_field_tag 'privileges[][id]', privilege[:id]
                = hidden_field_tag 'privileges[][name]', privilege[:name]
                = privilege[:name]
              %td
                - rights = options_for_select(ExperimenterAssignment.right_list, privilege[:list])
                = select_tag("privileges[][list]", rights, {:class => "chzn-select-roles", :multiple => true, :style => "width:600px", :'data-placeholder' => t(:rights), :include_blank => true})
                %button.close.removeline{:href => '#'} &times;
          %tr
            %td
              - options = options_for_select(Experiment.order(:name).collect do |e| [e.name, e.id] end)
              = select_tag(:'add-privilege', options, {:class => "chzn-select-experimenters", :'data-placeholder' => t('.add_experiments'), :include_blank => true})
            %td
  %br
  = f.submit t(:save), :class => "guarded_form_save btn btn-primary"
  
  
  
  