%br

= simple_form_for @user, :html => {:class => "guarded_form"} do |f| 
  = f.input :firstname, :required => false
  = f.input :lastname, :required => false
  = f.input :gender, :collection => {'männlich' => 'm', 'weiblich' => 'f', "keine Angabe" => '?' }, :as => :select, :required => false
  = f.input :birthday, :include_blank => "true", :order => [:day, :month, :year], :required => false, :start_year => Date.today.year-16, :end_year => 1900
  = f.input :phone
  = f.input :matrikel, :required => false
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.input :role, :collection => User.roles, :include_blank => false
  %br
  = f.input :country_name, :priority => [ "Germany" ], :include_blank => true
  %br
  = f.input :study_id, :collection => Study.all.map{|s| [s.name, s.id]}, :include_blank => "keine Angabe"
  = f.input :degree, :collection => ['Bachelor', 'Master', 'Diplom', 'Magister', 'Staatsexamen']
  = f.input :begin_month, :collection => (1..12)
  = f.input :begin_year, :collection => (Time.now.year-10..Time.now.year)
  %br
    = f.input :preference, :collection => {'Präsenz- und Online-Experimenten' => 0, 'nur Präsenz-Experimente' => 1, 'nur Online-Experimente' => 2}
  = f.input :lang1, :collection => Language.all.map{|s| [s.name, s.id]}, :as => :select, :required => false
  = f.input :lang2, :collection => Language.all.map{|s| [s.name, s.id]}, :as => :select, :required => false, :wrapper_html => {:style => "display:none", :id => "lang2"}
  = f.input :lang3, :collection => Language.all.map{|s| [s.name, s.id]}, :as => :select, :required => false, :wrapper_html => {:style => "display:none", :id => 'lang3'}
  %br
  = f.input :profession_id, :collection => Profession.all.map{|s| [s.name, s.id]}
  %br
  = f.input :deleted, :label => "Benutzer ist als gelöscht markiert" 
  
  %br
  = f.submit "Benutzer speichern", :class => "guarded_form_save"
  %br
  %br
  