= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
= hidden_field_tag :page, params[:page] || 1
= hidden_field_tag :user_action, ''



.filter
  =t 'filter.search_text'
  %br
  = text_field_tag 'filter[search]', params[:filter][:search] 
  %br
  %br
  
  =t 'filter.header'  
  %br
  
  - [ 'gender', 'noshow', 'participated', 'role', 'begin', 'birthday', 'experience', |
      'study', 'country', 'degree', 'language', 'tags', 'experiment', 'preference', 'show_deleted'].each do |key|
    %a.open-link{:href => '#f'+key}=t("filter.#{key}")
    = '|' unless key == 'show_deleted'
   
  %br
  %br

  = render :partial => 'shared/filter_gender'
  = render :partial => 'shared/filter_noshow' 
  = render :partial => 'shared/filter_participated' 
  = render :partial => 'shared/filter_role'
  = render :partial => 'shared/filter_begin'
  = render :partial => 'shared/filter_birthday' 
  = render :partial => 'shared/filter_experience' 
  = render :partial => 'shared/filter_study' 
  = render :partial => 'shared/filter_country'
  = render :partial => 'shared/filter_degree' 
  = render :partial => 'shared/filter_language' 
  = render :partial => 'shared/filter_tags' 
  = render :partial => 'shared/filter_experiment' 
  = render :partial => 'shared/filter_preference'
  = render :partial => 'shared/filter_show_deleted'

.searchinfo
  = submit_tag t('filter.submit'), :name => 'submit_mode', :class => "btn btn-primary"
  =t 'filter.showing1'
  %b= @users.total_entries
  =t 'filter.showing2'
  %b= @user_count
  
%hr


- if @users.count > 0
  = will_paginate @users,  :renderer => WillPaginate::ActionView::BootstrapLinkRenderer , :previous_label => "&lt;&lt;&nbsp;", :next_label => "&nbsp;&gt;&gt;"

  .menu
    = link_to t('.print'), '#', :class => "user_action_link btn", :style => "float:right",  :'data-value' => 'print_view', :'data-target' => "_blank"
    
    .btn-group{:style => "float:left"}
      %a.btn.dropdown-toggle{:'data-toggle' => "dropdown", :href => "#"}
        =t '.current_filtered'
        %b.caret 
      %ul.dropdown-menu
        %li= link_to t('.message_all_filtered'), '#', :class => "send-message", :'data-to' => t('.to_all_filtered'), :'data-mode' => 'all'    
        %li= link_to t('.send_activation_invitation'), '#', :confirm => t('.send_activation_confirm'), :class => "user_action_link", :'data-value' => 'invite_all'    
        %li= link_to t('.store_current_filter'), '#', :class => "user_action_link", :'data-value' => 'store_filter'    
    
    .btn-group.context-menu{:style => "float:left"}
      %a.btn.dropdown-toggle{:'data-toggle' => "dropdown", :href => "#"}
        =t '.marked_users'
        %b.caret 
      %ul.dropdown-menu
        %li= link_to t('.message_all_marked'), '#', :class => "send-message", :'data-to' => t('.to_all_marked'), :'data-mode' => 'selected'
        %li= link_to t('.send_activation_invitation_marked'), '#', :confirm => t('.send_activation_confirm'), :class => "user_action_link", :'data-value' => 'invite_selected'        
    
  %br
  %br
  
  
  %table.table
    %thead
      %tr
        %th= check_box_tag "", "", false, :id => "select_all_users"
        %th
        %th= sortable_for_form 'lastname', 'Name'  
        %th= sortable_for_form 'role', t('.role')
        %th= sortable_for_form 'email', t(:email)
        %th= sortable_for_form 'study_name', t('.study')
        %th= sortable_for_form 'gender',  t('.gender')
        %th= sortable_for_form 'begin_date', t('.begin')
        %th= sortable_for_form 'created_at', t('.created_at')
        %th.popup{:'data-popup' => t('popup.noshow_count')}= sortable_for_form 'noshow_count' , t('noshow_shortcut')
        %th.popup{:'data-popup' => t('popup.participations_count')}= sortable_for_form 'participations_count' , t('participations_shortcut')

    %tbody    
      - @users.each do |user| 
        - cl = []; 
        - cl << "deleted" if user.deleted
        - cl << "import_inactive" if user.imported && !user.activated_after_import
        %tr{:class => cl.join(' ')}
          %td= check_box_tag "selected_users[#{user.id}]", '1', false, :class => 'selected_users'
          %td
            - if !user.deleted && user.imported && !user.activated_after_import
              %i.icon-ban-circle.popup{:'data-popup' => t('popup.inactive_after_import')}
              
          %td= link_to highlight(truncate(user.lastname, {:length => 15}), params[:search])+', '+highlight(truncate(user.firstname, {:length => 10}), params[:search]), user_path(user)
          %td= {'user' => 'P', 'experimenter' => 'E', 'admin' => 'A'}[user.role]
          %td= link_to highlight(truncate(user.email, {:length => 15}), params[:search]), "mailto:#{user.email}"
          %td.study_name_popup{:'data-text' => user.study_name || t(:info) }
            =user.study_name ? truncate(user.study_name, {:length => 10}) : t(:no_info)
          %td= user.gender
          %td= user.begin_date 
          %td= I18n.l(user.created_at, :format => :date_only)
          %td= "#{user.noshow_count}" 
          %td= "#{user.participations_count}"
        
        
- else
  %br
  %b
    =t('.no_users')
  %br  
  %br
  %br
  %br

