= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
= hidden_field_tag :page, params[:page] || 1
= hidden_field_tag :user_action, 'none'

.search
  = render :partial => 'shared/search/search', :locals => { :fields => [:fulltext, :role, :noshow_count, :participations_count, :deleted,:tags, :experiments,  :gender, :begin_of_studies, :birthday, :preference, :course_of_studies, :country_name, :degree, :language, :experience ] }
  = params[:search].inspect    
.searchinfo
  = submit_tag t('.submit'), :name => 'submit_mode', :class => "btn btn-primary"
  = raw t('.showing', :count => @users.total_entries, :total => @user_count)
  
%hr

- if @users.count > 0
  = will_paginate @users,  :renderer => WillPaginate::ActionView::BootstrapLinkRenderer , :previous_label => "&lt;&lt;&nbsp;", :next_label => "&nbsp;&gt;&gt;"

  .menu
    = link_to t('.print'), '#', :class => "user_action_link btn", :style => "float:right",  :'data-value' => 'print_view', :'data-target' => "_blank"
    
    .btn-group{:style => "float:left"}
      %a.btn.dropdown-toggle{:'data-toggle' => "dropdown", :href => "#"}
        =t '.current_result'
        %b.caret 
      %ul.dropdown-menu
        %li= link_to t('.message_all_searched'), '#', :class => "open-modal", :'data-to' => t('.to_all_searched'), :'data-mode' => 'all' , :'data-url' => send_message_users_path   
        %li= link_to t('.store_current_search'), '#', :class => "user_action_link", :'data-value' => 'store_search'    
    
    .btn-group.context-menu{:style => "float:left"}
      %a.btn.dropdown-toggle{:'data-toggle' => "dropdown", :href => "#"}
        =t '.marked_users'
        %b.caret 
      %ul.dropdown-menu
        %li= link_to t('.message_all_marked'), '#', :class => "open-modal", :'data-to' => t('.to_all_marked'), :'data-mode' => 'selected', :'data-url' => send_message_users_path
  %br
  %br
  
  = render :partial => 'shared/table', :locals => {:users => @users, :columns => Rails.configuration.user_table_columns}
  
                
- else
  %br
  %b
    =t('.no_users')
  %br  
  %br
  %br
  %br

