= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]

%table
  %tr
    %th= sortable 'firstname', 'Vorname'
    %th= sortable 'lastname', 'Nachname'
    %th= sortable 'email', 'E-Mail'
    %th

  - @users.each do |user| 
    %tr
      %td= user.firstname
      %td= user.lastname
      %td= user.email
      %td
        = link_to 'Bearbeiten', edit_user_path(user)
        = link_to 'Löschen', user, :confirm => 'Sind Sie sicher?', :method => :delete      
        
= will_paginate @experiments