= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      =link_to "Administration", :controller => "admin", :action => "index"
      %span.divider
        &gt;
    %li.active
      Benutzer
  
= render :partial => "shared/messaging"   

= link_to 'Neuer Benutzer', new_user_path, :class =>"btn btn-primary", :style => "float:right"

%h1
  Benutzer
  
%br

= form_tag users_path, :method => 'post', :id => "user_search" do
  #users
    = render 'users'
