= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      = link_to t(:root_page), root_path
      %span.divider
        &gt;
    %li.active
      =t '.breadcrumb_forgot_password'
      
.row
  .span6
    %h1
      =t '.change_password'
    %br
    
    = render 'layouts/errors', object: resource 
    
    = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'form-horizontal'}) do |f|
      = f.hidden_field :reset_password_token 

      = f.input :password  
      = f.input :password_confirmation, :hint => t('.password_hint')
         
      = f.submit t('.change_password_link'), :class => "btn btn-primary"

  .span4
    = render :partial => "devise/shared/links"       
