= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      = link_to t(:root_page), root_path
      %span.divider
        &gt;
    %li.active
      Passwort vergessen
      
.row
  .span6
    %h1
      Passwort ändern
    %br
    = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'form-horizontal'}) do |f|
      = f.hidden_field :reset_password_token 

      = f.input :password  
      = f.input :password_confirmation, :hint => "mindestens 8 Zeichen, mindestens eine Zahl, ein Buchstabe, ein Sonderzeichen"
         
      = f.submit "Passwort ändern", :class => "btn btn-primary"

  .span4
    = render :partial => "devise/shared/links"       
