= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      = link_to t(:root_page), root_path
      %span.divider
        &gt;
    %li.active
      Passwort vergessen

.row
  .span4
    %h1
      Passwort vergessen?
    %br
    = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      E-Mail
      %br
      = f.input  :email, :label => false
      %br
      = f.submit "E-Mail für Passwortänderung senden", :class => "btn btn-primary"

  .span4
    = render :partial => "devise/shared/links" 
