= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      = link_to t(:root_page), root_path
      %span.divider
        &gt;
    %li.active
      =t '.breadcrumb_forgot_password'

.row
  .span6
    %h2=t '.forgot_password'
    %p=t '.forgot_password_text'
    %br
    = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      =t :email
      %br
      = f.input  :email, :label => false
      %br
      = f.submit t('.forgot_link'), :class => "btn btn-primary"

  .span4
    = render :partial => "devise/shared/links" 
