= content_for :breadcrumb do
  &gt;
  =link_to "Administration", :controller => "admin", :action => "index"
  &gt;
  Einstellungen
  
= render :partial => "tabs", :locals => {:selected => "Allgemein"} 


%br
%br
%br

= form_tag(options_index_path, :method => "post") do 
  = label_tag :suffix, "E-Mails müssen enden auf"
  %br
  = text_field_tag(:suffix, Settings.suffix)
  
  %br
  %br
  
  = label_tag :testnr, "Test der Einladung: Jeder n-te Teilnehmer meldet sich an; n = "
  %br
  = text_field_tag(:testnr, Settings.testnr)
  
  - unless Settings.testnr.blank?
    Hallo
  
  %br
  %br
  = submit_tag("Änderungen speichern") 
