= content_for :breadcrumb do
  &gt;
  =link_to "Administration", :controller => "admin", :action => "index"
  &gt;
  Einstellungen
  
= render :partial => "tabs", :locals => {:selected => "Allgemein"} 


%br
%br
%br

= form_tag(options_index_path, :method => "post") do 
  = label_tag :mail_restrictions, "Gültige E-Mail-Formate (z.B. ...student...@uni-musterhausen.de)"
  %br
  #url-tags
    - if Settings.mail_restrictions
      - Settings.mail_restrictions.each do |r|
        %span
          = " ... "
          = text_field_tag("mail_restrictions[][prefix]", r['prefix'])
          = " ... "
          @
          = text_field_tag('mail_restrictions[][suffix]', r['suffix'])
          %br
    - else
      %span
        = text_field_tag("mail_restrictions[][prefix]")
        @
        = text_field_tag('mail_restrictions[][suffix]')
        %br
  %a.add-url-link{:href=>"#"}
    = image_tag("add.png")
  
  %a.remove-url-link{:href=>"#"}
    = image_tag("delete.png")
  
  %br
  %br
  
  = label_tag :testnr, "Test der Einladung: Jeder n-te Teilnehmer meldet sich an; n = "
  %br
  = text_field_tag(:testnr, Settings.testnr)
  
  %br
  %br
  = submit_tag("Änderungen speichern") 
  
  %br
  %br
