= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      =link_to t(:administration), :controller => "admin", :action => "index"
      %span.divider
        &gt;
    %li.active
      =t :settings
  
= render :partial => "tabs", :locals => {:selected => :texts} 


= form_tag options_texts_path, :method => "post", :class => "guarded_form form-horizontal", :'data-alert' => t('guarded_form_message') do
  %h3=t '.privacy_header'

  =t '.privacy_info'
  %br
  %br
  %ul.nav.nav-tabs
    - Rails.configuration.locales.each_with_index do |loc, i|
      %li{:class => (i==0 ? 'active' : '')}
        %a{:href => '#'+loc.to_s, :class => "locale_tab", :'data-toggle' => 'tab'}= loc          
        
  .tab-content
    - Rails.configuration.locales.each_with_index do |loc, i|
      .tab-pane{:id => loc.to_s, :class => (i==0 ? 'active' : '')}
        = text_area_tag("terms_and_conditions[#{loc.to_s}]", Settings.terms_and_conditions[loc.to_s], :rows => 10, :class => "span8")
  
  
  %br
  %br
  
  %h3=t '.welcome_header'

  
  =t '.welcome_info'
  %br
  %br
  %ul.nav.nav-tabs
    - Rails.configuration.locales.each_with_index do |loc, i|
      %li{:class => (i==0 ? 'active' : '')}
        %a{:href => '#welcome_'+loc.to_s, :class => "locale_tab", :'data-toggle' => 'tab'}= loc          
        
  .tab-content
    - Rails.configuration.locales.each_with_index do |loc, i|
      .tab-pane{:id => 'welcome_'+loc.to_s, :class => (i==0 ? 'active' : '')}
        = text_area_tag("welcome_text[#{loc.to_s}]", Settings.welcome_text[loc.to_s], :rows => 10, :class => "span8")
  %br
  %br
  

  %h3=t '.credits_header'
 
  =t '.credits_info'
  %br
  %br
  %ul.nav.nav-tabs
    - Rails.configuration.locales.each_with_index do |loc, i|
      %li{:class => (i==0 ? 'active' : '')}
        %a{:href => '#credits_'+loc.to_s, :class => "locale_tab", :'data-toggle' => 'tab'}= loc          
        
  .tab-content
    - Rails.configuration.locales.each_with_index do |loc, i|
      .tab-pane{:id => 'credits_'+loc.to_s, :class => (i==0 ? 'active' : '')}
        = text_area_tag("credits_text[#{loc.to_s}]", Settings.credits_text[loc.to_s], :rows => 10, :class => "span8")
  %br
  %br
  
 
  
  = submit_tag t('.submit_link'), :class => "guarded_form_save btn btn-primary"
  
      
    