= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      =link_to t(:administration), :controller => "admin", :action => "index"
      %span.divider
        &gt;
    %li.active
      =t :settings
  
= render :partial => "tabs", :locals => {:selected => :texts} 


= form_tag options_texts_path, :method => "post", :class => "guarded_form form-horizontal" do
  %h3=t '.privacy_header'

  =t '.privacy_info'
  %br
  %br
  = text_area_tag(:terms_and_conditions, Settings.terms_and_conditions, :rows => 10, :class => "span8")
  %br
  %br
  
  %h3=t '.welcome_header'

  =t '.welcome_info'
  %br
  %br
  = text_area_tag(:welcome_text, Settings.welcome_text, :rows => 10, :class => "span8")
  %br
  %br
  
 
  
  = submit_tag t('.submit_link'), :class => "guarded_form_save btn btn-primary"
  

   
        
    	
    