#fbirthday.filter-block{:style => filter_style('fbirthday')}
  = render :partial => 'shared/close_link', :locals => {:name => 'fbirthday'} 
  = hidden_field_tag "active[fbirthday]", params[:active][:fbirthday]
  Geburtstag
  %br
  von
  = select_tag :birthday_von_month, options_for_select((1..12), params[:birthday_von_month]), {:include_blank => true}
  = select_tag :birthday_von_year, options_for_select((Time.now.year-65..Time.now.year-16), params[:birthday_von_year]), {:include_blank => true}
  bis
  = select_tag :birthday_bis_month, options_for_select((1..12), params[:birthday_bis_month]), {:include_blank => true}
  = select_tag :birthday_bis_year, options_for_select((Time.now.year-65..Time.now.year-16), params[:birthday_bis_year]), {:include_blank => true}