#message_dialog{:style => "display:none"}
  = hidden_field_tag 'message[action]', ''
  = hidden_field_tag 'message[mode]', ''
  %h2=t '.send'
  %br
  %b=t '.to'
  %br

  %span#message_recipients 
  %br
  %br
  %b=t '.subject'
  %br
  = text_field_tag 'message[subject]', "", :class => "span8"  
  %br
  %br

  .templated-field-header.span8
    = render :partial => 'shared/text_templates', :locals => {:data => current_user.settings.templates, :element_id => 'message_text' }
    %b=t '.text'
  %br
  = text_area_tag 'message[text]', '', :rows => "14", :class => "span8"    