- selection_boxes = (current_user.has_right?(@experiment, 'manage_participants') || current_user.has_right?(@experiment, 'send_session_messages'))
- participation_boxes = (current_user.has_right?(@experiment, 'manage_participants') || current_user.has_right?(@experiment, 'manage_showups'))
- showup_count = 0; participated_count = 0; noshow_count = 0            

%table.table
  %thead
    %tr
      %th= check_box_tag "", "", false, :class => "user-selection-header"
      %th
      - columns.each do |col|
        - case col
          - when :counter
            %th
          - when :fullname
            %th= sortable_for_form 'lastname', t('usertable.fullname')
          - when :noshow_count
            %th.tool-tip{:title => t('popup.noshow_count')}= sortable_for_form 'noshow_count' , t('noshow_shortcut')
          - when :participations_count
            %th.tool-tip{:title => t('popup.participations_count')}= sortable_for_form 'participations_count' , t('participations_shortcut')
          - when :form_fields
            
            %th.tool-tip{:title => t('popup.noshow')}
              = sortable_for_form 'session_noshow', t('session_noshow_shortcut')
              - if participation_boxes
                %br
                = check_box_tag "", "", false, :id => "all_noshow"
            
            %th.tool-tip{:title => t('popup.showup')} 
              = sortable_for_form 'session_showup', t('session_show_shortcut')
              - if participation_boxes
                %br
                = check_box_tag "", "", false, :id => "all_show"
            %th.tool-tip{:title => t('popup.participated')} 
              = sortable_for_form 'session_participated', t('session_participated_shortcut')
              - if participation_boxes
                %br
                = check_box_tag "", "", false, :id => "all_participation"
      
            
            %th.tool-tip{:title => t('popup.seat_nr')}
              = sortable_for_form 'session_seat_nr', t('session_seat_nr_shortcut')
            
            %th.tool-tip{:title => t('popup.payment')}
              = sortable_for_form 'session_payment', t('session_payment_shortcut')
              

          - else
            - field = CUSTOM_FIELDS.get(col)
            - if field
              %th= sortable_for_form col.to_s, t("activerecord.attributes.user.#{field.name}")
            - else
              %th= sortable_for_form col.to_s, t('usertable.'+col.to_s)
              
  %tbody    
    - users.each_with_index do |user, i| 
      - classes = []; 
      - classes << "deleted" if user.deleted
      - classes << "import_inactive" if user.imported && !user.activated_after_import

      - if defined?(session_participant_view) && session_participant_view
        - showup_count += 1 if user.session_showup == 1 
        - participated_count += 1 if user.session_participated == 1 
        - noshow_count += 1 if user.session_noshow == 1 

      %tr{:class => classes.join(' ')}
        %td= check_box_tag "selected_users[#{user.id}]", '1', false, :class => 'user-selection-item'
        %td
          - if !user.deleted && user.imported && !user.activated_after_import
            %i.icon-ban-circle.tool-tip{:title => t('popup.inactive_after_import')}
          - if !user.deleted && !user.confirmed_at 
            %i.icon-question-sign.tool-tip{:title => t('popup.not_confirmed')}
          - if user.attributes.has_key?(:invited_at) && !user.invited_at.nil?
            %i.icon-envelope.tool-tip{:title => t('popup.user_was_invited')}
          - if user.attributes.has_key?(:reminded_at) && !user.reminded_at.nil?
            %i.icon-user.tool-tip{:title => t('popup.user_was_reminded')}
          - if !user.comment.blank?
            %i.icon-comment.tool-tip{:'data-html'=> 'true',  :title => raw(simple_format(user.comment))}
          - if user.attributes.has_key?(:added_by_public_key) && user.added_by_public_key == 1
            %i.icon-globe.tool-tip{:title => t('popup.user_was_added_by_public_key')}  
        - columns.each do |col|
          - case col
            - when :counter
              %td= (i+1)
            - when :fullname
              %td= link_to highlight(truncate(user.lastname, {:length => 15}), params[:search][:fulltext])+', '+highlight(truncate(user.firstname, {:length => 10}), params[:search][:fulltext]), user_path(user)
            - when :role  
              %td= {'user' => 'P', 'experimenter' => 'E', 'admin' => 'A'}[user.role]
            - when :email
              %td= link_to highlight(truncate(user.email, {:length => 15}), params[:search][:fulltext]), "mailto:#{user.email}"
            - when :noshow_count
              %td= "#{user.noshow_count}" 
            - when :participations_count
              %td= "#{user.participations_count}"
            - when :created_at
              %td= I18n.l(user.created_at, :format => :date_only)
            - when :session
              %td= "#{I18n.l(user.session_start_at) if user.session_start_at}" 
            - when :form_fields
              %td
                = check_box_tag "noshows[#{user.id}]", "1", user.session_noshow == 1, :class => "noshow_checkbox", :'data-id' => user.id, :disabled => !participation_boxes
                = hidden_field_tag "ids[#{user.id}]", "1"
              %td= check_box_tag "showups[#{user.id}]", "1", user.session_showup == 1, :class => "show_checkbox", :disabled => !participation_boxes, :'data-id' => user.id
              %td= check_box_tag "participations[#{user.id}]", "1", user.session_participated == 1, :class => "participation_checkbox", :disabled => !participation_boxes, :'data-id' => user.id
              %td=number_field_tag "seat_nr[#{user.id}]",  user.seat_nr, in: 0...1000, :style => "width: 40px"

              %td=text_field_tag "payment[#{user.id}]",  number_with_precision(user.payment.to_f, separator: '.', precision: 2)  , :style => "width: 40px"

            - else
              - field = CUSTOM_FIELDS.get(col)
              - if field
                %td= field.display_value(user)
              - else
                %td= user[col]
    
    - # last line for session particpipant view
    - if defined?(session_participant_view) && session_participant_view
      %tr
        %td
        %td
        - columns.each do |col|
          - case col
            - when :form_fields
              %td= noshow_count
              %td= showup_count
              %td= participated_count
             
              %td
              %td  
            - else
              %td