= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      = link_to "Startseite", root_path
      %span.divider
        >
    %li.active
      Aktivierung 
      
%h2 Freischaltung für die Teilnahme an ökonomischen Experimenten

%br
Wenn Sie bereits Zugang zum bisherigen System hatten, sind Ihre Daten übertragen worden. Sie können hier Ihren Zugang zum neuen Einladungssystem freischalten.

%br
%br

= form_tag '' do
  %h3 Bitte geben Sie die E-Mail-Adresse an, mit der Sie beim bisherigen System angemeldet waren:
  %br
  = text_field_tag :email, params[:email_insert]

  = submit_tag "E-Mail zur Freischaltung senden", :class => "btn btn-primary"