= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      = link_to "Startseite", root_path
      %span.divider
        >
    %li.active
      Kontakt 
      
%h2 Kontakt Forschungslabor

%p
  %b Adresse
  
%p 
  = link_to "Universität Hamburg", "http://www.uni-hamburg.de"
  %br
  = link_to "Fakultät Wirtschafts- und Sozialwissenschaften", "http://www.wiso.uni-hamburg.de"
  %br
  = link_to "WiSo-Forschungslabor", "http://www.wiso.uni-hamburg.de/forschung/forschungslabor"
  %br
  Von-Melle-Park 5
  %br
  Raum 1080 c-f, Aufgang C
  %br
  20146 Hamburg, Deutschland
  
%p
  %b Homepage

%p 
  = link_to "http://www.wiso.uni-hamburg.de/forschung/forschungslabor", "http://www.wiso.uni-hamburg.de/forschung/forschungslabor"
  
%p 
  %b Laborleitung

%p
  Olaf Bock
  %br
  Tel.: 0 40 - 42 83 8 - 37 59
  %br
  E-Mail:
  = link_to "olaf.bock@wiso.uni-hamburg.de", "mailto:olaf.bock@wiso.uni-hamburg.de"
