= render :partial => "degree_tab"

%br

= link_to "Neuen Abschluss anlegen", new_degree_path, :class => "btn btn-primary"

%br
%br

%table.table
  %thead
    %tr
      %th Name  
      %th 
  %tbody      
    - @degrees.each do |degree| 
      %tr
        %td= truncate(degree.name, :maxlength => 30)
        %td
          = link_to 'Bearbeiten', edit_degree_path(degree), :class => "btn btn-primary"
          = link_to 'Löschen', degree, :confirm => 'Sind Sie sich sicher, dass Sie diesen Abschluss entfernen möchten?', :method => :delete, :class => "btn"
  
%br

%br
%br