= render :partial => "study_tab"

%br

= link_to t('studies.create_new_study'), new_study_path, :class => "btn btn-primary"

%br
%br

%table.table
  %thead
    %tr
      %th Name  
      %th 
  %tbody      
    - @studies.each do |study| 
      %tr
        %td= truncate(study.name, :maxlength => 30)
        %td
          = link_to t(:edit), edit_study_path(study), :class => "btn btn-primary"
          = link_to t(:delete), study, :confirm => t('studies.confirm'), :method => :delete, :class => "btn"
  
%br

%br
%br