= will_paginate @experiments,  :renderer => WillPaginate::ActionView::BootstrapLinkRenderer , :prev_label => "&lt;&lt;&nbsp;", :next_label => "&nbsp;&gt;&gt;"
%br


%table.table
  %tbody
    - @experiments.each do |experiment| 
      %tr{:class => if experiment.finished? then "finished" else "" end}
        %td
          %h3= link_to highlight(experiment.name, params[:search]), experiment_sessions_path(experiment), :method => :get
          - experiment.tags.each do |tag|
            %span.label.click-label
              =link_to(tag.name, tagged_experiment_path(tag.id))
              &nbsp;  
          
          %br  
          %br
          Experiment-Organisation:
          %br
          = highlight(experiment.experimenters.collect{|u| u.firstname+" "+u.lastname}.join(', '), params[:search])
          %br  
        
        %td
          - if experiment.registration_active
            %span.label.label-success Anmeldung ist aktiv
          - else
            %span.label.label-warning Anmeldung ist nicht aktiv
      
          %br
          %br
          - if experiment.sessions.length > 0
            = experiment.sessions.length
            Sessions
            %br
            =experiment.sessions.collect{|d| d.start_at.to_date}.min
            bis
            =experiment.sessions.collect{|d| d.start_at.to_date}.max.to_s
          - else
            keine Sessions
            %br
        
          %br
          =experiment.participants.where(:deleted => false, :role => 'user').count
          zugeordnete Teilnehmer
  
          %br
    
  
      
%br        
= will_paginate @experiments, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer, :prev_label => "&lt;&lt;&nbsp;", :next_label => "&nbsp;&gt;&gt;"