= will_paginate @experiments, :prev_label => "&lt;&lt;&nbsp;", :next_label => "&nbsp;&gt;&gt;"
%br

- @experiments.each do |experiment| 
  .experimentline{:class => if experiment.sessions_finished? then "finished" else "" end}
    .right
      =button_to "Bearbeiten", edit_experiment_path(experiment), :method => :get
    %h4= highlight(experiment.name, params[:search])
    Typ:
    = highlight(experiment.typ, params[:search])
    %br
    Experiment-Organisation:
    = highlight(experiment.experimenters.collect{|u| u.firstname+" "+u.lastname}.join(', '), params[:search])
    %br
    = experiment.sessions.length
    Sessions
    - if experiment.sessions.length > 0
      von
      =experiment.sessions.collect{|d| d.start.to_date}.min
      bis
      =experiment.sessions.collect{|d| d.start.to_date}.max
    
    , zugeordnete Teilnehmer:
    =experiment.experiment_participations_count
    
      
          
%br        
= will_paginate @experiments, :prev_label => "&lt;&lt;&nbsp;", :next_label => "&nbsp;&gt;&gt;"