= will_paginate @experiments,  :renderer => WillPaginate::ActionView::BootstrapLinkRenderer , :previous_label => "&lt;&lt;&nbsp;", :next_label => "&nbsp;&gt;&gt;"
%br


%table.table
  %tbody
    - @experiments.each do |experiment| 
      %tr{:class => if experiment.finished? then "finished" else "" end}
        %td
          %h3= link_to highlight(experiment.name, params[:search]), experiment_sessions_path(experiment), :method => :get
          - experiment.tags.each do |tag|
            %span.label.click-label
              =link_to(tag.name, tagged_experiment_path(tag.id))
            &nbsp;  
          
          %br  
          %br
          =t '.organizers'
          %br
          = highlight(experiment.experimenters.collect{|u| u.firstname+" "+u.lastname}.join(', '), params[:search])
          %br  
        
        %td
          - session_count = experiment.sessions.length 
          - participants_count = experiment.participations.size

          - if session_count == 0 && participants_count == 0 
         
            = link_to t('.delete'), experiment_path(experiment), :class => 'btn', :confirm => t(".confirm_delete_experiment"), :method => :delete
            %br
            %br

          - if experiment.registration_active
            %span.label.label-success=t 'experiments.registration_active'
          - else
            %span.label=t 'experiments.registration_inactive'
          
          - if experiment.invitation_start
            %span.label.label-warning=t 'experiments.invitation_active'
          
          %br
          %br


          - if session_count> 0
            = session_count
            =t :sessions_label
            %br
            =experiment.sessions.collect{|d| d.start_at.to_date}.min
            bis
            =experiment.sessions.collect{|d| d.start_at.to_date}.max.to_s
          - else
            =t '.no_sessions'
            %br
        
          %br
          =participants_count
          =t '.assigned_participants'
          %br
    
  
      
%br        
= will_paginate @experiments, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer, :previous_label => "&lt;&lt;&nbsp;", :next_label => "&nbsp;&gt;&gt;"