= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]

%table
  %tr
    %th= sortable 'name', 'Name'
    %th= sortable 'typ', 'Typ'
    %th

  - @experiments.each do |experiment| 
    %tr
      %td= experiment.name
      %td= experiment.typ
      %td
        = link_to 'Bearbeiten', edit_experiment_path(experiment)
        = link_to 'Löschen', experiment, :confirm => 'Soll dieses Experiment wirklich gelöscht werden?', :method => :delete      
        
= will_paginate @experiments