= simple_form_for @experiment, :html => {:class => "guarded_form form-horizontal"} do |f| 
  = f.input :name, :required => false, :input_html => {:class => "span5"}
  
  = f.input :tag_list
    
  = f.input :description, :as => :text, :input_html => {:class => "span5", :rows => 4} 
  
  = f.input :contact, :as => :text, :input_html => {:class => "span5", :rows => 4} 
  = f.input :sender_email, :hint => "("+t('.default_address_is')+" #{UserMailer.default[:from]})", :input_html => {:class => "span5"} 
  
  %br
  
  
  - unless @experiment.new_record?
    .checkbox-wrapper
      = f.input :finished, :wrapper => :none, :as => :boolean, :label => false, :boolean_style => :inline
      =t '.experiment_finished'
    %br
  .checkbox-wrapper
    = f.input :show_in_stats, :wrapper => :none, :label => false, :boolean_style => :inline 
    =t '.experiment_in_statistic'
    
  %br
  %br
  .checkbox-wrapper
    - if @experiment.new_record?
      = f.submit t('.create_experiment'), :class => "guarded_form_save btn btn-primary"
    - else
      = f.submit t(:save), :class => "guarded_form_save btn btn-primary"
  
  %br
  %br
  %br