
= simple_form_for @experiment, :html => {:class => "guarded_form form-horizontal"} do |f| 
  = f.input :name, :required => false, :input_html => {:class => "span5"}
  
  = f.input :tag_list
    

  .input.string
    %label.select Verantwortlicher
    = select_tag( |
      :experiment_leiter, |
      options_for_select( |
        User.where("role = 'admin' OR role='experimenter'").order(:lastname, :firstname).collect do |u| [u.lastname+", "+u.firstname, u.id] end, |
        params[:experiment_leiter] |
      ), |
      {:class => "chzn-select", :'data-placeholder' => "Personen wählen...", :style=>"width:410px", :include_blank => true} |
    ) |
  
    
  .input.string
    %label.select weitere Exp.
    = select_tag( |
        :experiment_helper, |
        options_for_select( |
          User.where("role = 'admin' OR role='experimenter'").order(:lastname, :firstname).collect do |u| [u.lastname+", "+u.firstname, u.id] end, |
          params[:experiment_helper] |
        ), |
        {:multiple => true, :class => "chzn-select", :'data-placeholder' => "Personen wählen...", :style=>"width:410px"} |
      ) |
      
  = f.input :description, :as => :text, :input_html => {:class => "span5", :rows => 4} 
  
  = f.input :contact, :as => :text, :input_html => {:class => "span5", :rows => 4} 
  = f.input :sender_email, :hint => "(Standardadresse ist #{UserMailer.default[:from]})", :input_html => {:class => "span5"} 
  
  %br
  
  
  - unless @experiment.new_record?
    .checkbox-wrapper
      = f.input :finished, :wrapper => :none, :as => :boolean, :label => false, :boolean_style => :inline
      Dieses Experiment ist abgeschlossen
    %br
  .checkbox-wrapper
    = f.input :show_in_stats, :wrapper => :none, :label => false, :boolean_style => :inline 
    Dieses Experiment in der Statistik berücksichtigen
  

    
  
  %br
  %br
  .checkbox-wrapper
    - if @experiment.new_record?
      = f.submit "Experiment anlegen", :class => "guarded_form_save btn btn-primary"
    - else
      = f.submit "Experiment speichern", :class => "guarded_form_save btn btn-primary"
  
  %br
  %br
  %br