<%= form_for(@experiment) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :typ %><br />
    <%= f.text_field :typ %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Experiment anlegen"%>
  </div>
  
  <%= @experiment.sessions.inspect %>
<% end %>
