
= simple_form_for @experiment, :html => {:class => "guarded_form"} do |f| 
  = f.input :name, :required => false
  = f.input :experiment_type_id, :collection => ExperimentType.order(:name), :input_html => {:class => "chzn-select", :'data-placeholder' => "Typ w채hlen...", :style=>"width:410px"}
  
  %br

  .input.string
    %label.select Experimentleiter
    = select_tag( |
      :experiment_leiter, |
      options_for_select( |
        User.where("role = 'admin' OR role='experimenter'").order(:lastname, :firstname).collect do |u| [u.lastname+", "+u.firstname, u.id] end, |
        params[:experiment_leiter] |
      ), |
      {:class => "chzn-select", :'data-placeholder' => "Personen w채hlen...", :style=>"width:410px", :include_blank => true} |
    ) |
  
    
  .input.string
    %label.select weitere Exp.
    = select_tag( |
        :experiment_helper, |
        options_for_select( |
          User.where("role = 'admin' OR role='experimenter'").order(:lastname, :firstname).collect do |u| [u.lastname+", "+u.firstname, u.id] end, |
          params[:experiment_helper] |
        ), |
        {:multiple => true, :class => "chzn-select", :'data-placeholder' => "Personen w채hlen...", :style=>"width:410px"} |
      ) |
      
  = f.input :description, :as => :text
  = f.input :contact, :as => :text
  
  - unless @experiment.new_record?
    = f.input :finished, :label => "Dieses Experiment ist abgeschlossen" 
  = f.input :show_in_stats, :label => "Dieses Experiment in der Statistik ber체cksichtigen" 
  %br
  - if @experiment.new_record?
    = f.submit "Experiment anlegen", :class => "guarded_form_save"
  - else
    = f.submit "Experiment speichern", :class => "guarded_form_save"
  
  %br
  %br
  %br