= simple_form_for @experiment, :html => {:class => "guarded_form form-horizontal"} do |f| 
  = f.input :name, :required => false, :input_html => {:class => "span5"}
  
  = f.input :tag_list
    
  = f.input :description, :as => :text, :input_html => {:class => "span5", :rows => 4} 
  
  = f.input :contact, :as => :text, :input_html => {:class => "span5", :rows => 4} 
  = f.input :sender_email, :hint => "("+t('.default_address_is')+" #{UserMailer.default[:from]})", :input_html => {:class => "span5"} 
  
  - # todo abschnitt einführen und erläuterung

  = f.input :exclude_tags, :collection => ActsAsTaggableOn::Tag.order(:name).map{|s| [s.name, s.name]}, :hint => t('.exclude_tags_hint'), :input_html => {:class => "chzn-select-experiments", :multiple => true,:'data-placeholder' => "Tags..."}
  = f.input :exclude_experiments, :collection => Experiment.order(:name).map{|s| [s.name, s.id]}, :hint => t('.exclude_experiments_hint'), :input_html => {:class => "chzn-select-experiments", :multiple => true, :'data-placeholder' => "Experiments..."}
    
  - unless @experiment.new_record?
    = f.input :finished, :inline_label => t('.experiment_finished'), :as => :boolean, :label => false
    
  = f.input :show_in_stats, :inline_label => t('.experiment_in_statistic'), :as => :boolean, :label => false
    
  
  - if @experiment.new_record?
    = f.submit t('.create_experiment'), :class => "guarded_form_save btn btn-primary"
  - else
    = f.submit t(:save), :class => "guarded_form_save btn btn-primary"
  
  %br
  %br
  %br