  
%br  
%br


%ul.nav.nav-tabs
  %li{:class => if selected == :sessions then 'active' else '' end}= link_to t(:sessions_label), experiment_sessions_path(@experiment)
  
  - if current_user.has_right? @experiment, 'manage_participants'
    %li.dropdown{:class => if selected == :participants then 'active' else '' end}
      %a.dropdown-toggle{:'data-toggle' => 'dropdown', :href => '#'}
        =t 'experiments.participants'
        %b.caret
      %ul.dropdown-menu
        %li= link_to t('.add_participants'), manage_experiment_participants_path(@experiment)
        %li= link_to t('.view_participants'), experiment_participants_path(@experiment)
        %li= link_to t('.history_participants'), history_experiment_participants_path(@experiment)
  
  -if can?(:invitation, @experiment)
    %li.dropdown{:class => if selected == :invitations then 'active' else '' end}
      %a.dropdown-toggle{:'data-toggle' => 'dropdown', :href => '#'}
        =t '.invitations'
        %b.caret
      %ul.dropdown-menu
        %li= link_to t('.mail_texts'), mail_experiment_path(@experiment)
        %li= link_to t('.reminder_sending'), invitation_experiment_path(@experiment)

  /- if can? :edit, @experiment
  /  %li{:class => if selected == 'Allgemeine Daten' then 'active' else '' end}= link_to "Allgemeine Daten", edit_experiment_url(@experiment)
  
  - if can?(:edit, @experiment) || can?(:experimenters, @experiment)
    %li.dropdown{:class => if selected == :options then 'active' else '' end}
      %a.dropdown-toggle{:'data-toggle' => 'dropdown', :href => '#'}
        =t '.data_and_options'
        %b.caret
      %ul.dropdown-menu
        -if can?(:edit, @experiment)
          %li= link_to t('.common_data'), edit_experiment_url(@experiment)
          %li= link_to t('.reminders'), reminders_experiment_path(@experiment)
        - if can? :experimenters, @experiment
          %li= link_to t('.experimenters'), experimenters_experiment_path(@experiment)
  
  
  %li{:class => if selected == :files then 'active' else '' end}= link_to t(:files_label), files_experiment_path(@experiment)
  