= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      = link_to "Experimente", experiments_path
      %span.divider
        &gt;
    %li
      = link_to @experiment.name, experiment_sessions_path(@experiment)
      %span.divider
        &gt;
    %li.active
      Allgemeine Daten

= render :partial => "experiments/enrollment"
  
%h1
  = @experiment.name

= render :partial => "tabs", :locals => {:selected => "Daten und Einstellungen"} 

%br

= render 'form' 
