= content_for :breadcrumb do
  = render :partial => "layouts/crumb", :object => [           |
      link_to(t('administration'), :controller => "admin", :action => "index"), |
      link_to(t(:experiments_header), experiments_path),                |
      link_to(@experiment.name, experiment_sessions_path(@experiment)), |
      t('experiments.tabs.files')]
      
= render :partial => "experiments/enrollment"
  
%h1
  = @experiment.name

= render :partial => "tabs", :locals => {:selected => :files}

.filelist_container
  #files
  #dropzone{:style => "display: none;"}
    .dropinfo
      Drop your files here!
      
%br
= form_tag({action: :upload_via_form}, multipart: true) do 
  .fileupload.fileupload-new{"data-provides" => "fileupload", 'data-name' => 'file'}
    .input-append
      .uneditable-input.span3
        %i.icon-file.fileupload-exists
        %span.fileupload-preview
      %span.btn.btn-file
        
        %span.fileupload-new=t('.choose_file')
        %span.fileupload-exists=t('.choose_different_file')
        %input{type: "file"}/
      
      %a.btn.btn-default.fileupload-exists{"data-dismiss" => "fileupload", href: "#"}= t('.remove')      
      = submit_tag t('.upload'), :class => 'btn btn-primary' 
      
      
%h1 todo
- commit = `git rev-parse HEAD`
- branch = `git rev-parse --abbrev-ref HEAD`
%ul
  %li überschreiben von dateien?
  %li Löschen von Dateien
  %li Download
  %li upload box besser darstellen
  %li testen
