= content_for :breadcrumb do
  = render :partial => "layouts/crumb", :object => [           |
      link_to(t('administration'), :controller => "admin", :action => "index"), |
      link_to(t(:experiments_header), experiments_path),                |
      link_to(@experiment.name, experiment_sessions_path(@experiment)), |
      t('experiments.tabs.files')]
      
= render :partial => "experiments/enrollment"
  
%h1
  = @experiment.name

= render :partial => "tabs", :locals => {:selected => :files}

%p= t('.files_description_html')

%br

.filelist_container
  .files{:'data-confirmation' => t('.confirmation'), :'data-folder-question' => t('.folder_question'),  :'base-url' => experiment_url(@experiment), :'data-path' => '', :style=> "padding-bottom:40px"}
  


#context-menu.dropdown.clearfix{:style => 'display:none; z-index: 10000'}
  %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu", role: "menu", style: "display:block;position:static;margin-bottom:5px;"}
    %li
      %a.download{href: "#", tabindex: "-1"}= t('.download_file')
    %li
      %a.new-folder{href: "#", tabindex: "-1"}= t('.new_folder')
    %li.divider
    %li
      %a.delete{href: "#", tabindex: "-1"}= t('.delete_file')
        
%br
      
= form_tag({action: :upload_via_form}, multipart: true, :id => "upload_form") do 
  = hidden_field_tag "path"
  .fileupload.fileupload-new{"data-provides" => "fileupload", 'data-name' => 'file'}
    .input-append
      .uneditable-input.span3
        %i.icon-file.fileupload-exists
        %span.fileupload-preview
      %span.btn.btn-file
        
        %span.fileupload-new=t('.choose_file')
        %span.fileupload-exists=t('.choose_different_file')
        %input{type: "file"}/
      
      %a.btn.btn-default.fileupload-exists{"data-dismiss" => "fileupload", href: "#"}= t('.remove')      
      = submit_tag t('.upload'), :class => 'btn btn-primary' 
  

