- if current_user.admin? || current_user.can_create_experiment
  = link_to t('experiments.new_experiment'), new_experiment_path, :class => "btn btn-primary", :style => "float:right"

%h1=t :experiments_header


%br

= form_tag experiments_path, :method => 'get', :id => "experiment_search" do
  %p  
    = text_field_tag :search, params[:search], :style=>"margin-top: 10px"
    = submit_tag t('.search'), :name => nil, :class => "btn btn-default"

#experiments
  = render 'experiments'

  

