= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      =link_to "Administration", :controller => "admin", :action => "index"
      %span.divider
        &gt;
    %li
      = link_to "Experimente", experiments_path
      - if @tag
        %span.divider
          &gt;
    - if @tag
      %li
        =  link_to("Tag: "+@tag.name, tagged_experiment_path(@tag.id))  



.row
  .span8
    = link_to 'Neues Experiment', new_experiment_path, :class => "btn btn-primary", :style => "float:right"

    %h1
      Experimente


    %br

    = form_tag experiments_path, :method => 'get', :id => "experiment_search" do
      %p  
        = text_field_tag :search, params[:search] 
        = submit_tag "Suche", :name => nil  

    #experiments
      = render 'experiments'

  

