= content_for :breadcrumb do
  &gt;
  = link_to "Experimente", experiments_path
  &gt;
  = link_to @experiment.name, experiment_path(@experiment)
  &gt;
  Übersicht
  
%h3
  = @experiment.name

= render :partial => "tabs", :locals => {:selected => "Einladungen"} 

%br
%br
%br

- if @experiment.invitation_start
  = content_for :head do 
    %script{:type=>"text/javascript"}
      $(reload());
      
  %small{:style => 'float:right'}
    (Aktualisierung in 
    %span#time_info
      60
    Sekunden)
  
  Der Einladungsversand ist im Moment aktiv.
  %br
  %br
  
  %table
    %tr
      %td Start dieses Einladungsversands
      %td= @experiment.invitation_start.strftime("%d.%m.%Y, %H:%M Uhr") 

    %tr
      %td Einladungsmodus
      %td= "#{@experiment.invitation_size} / #{@experiment.invitation_hours} Stunden"
    %tr
      %td Zugeordnete Personen (Gesamt)
      %td= @experiment.participants.count
    %tr
      %td davon vor dem Start dieses Einladungsversands bereits eingeladen
      %td= @experiment.participants.where(["participations.invited_at < ?", @experiment.invitation_start]).count
    %tr
      %td Maximalgrenze zu versendender Einladungen bis jetzt 
      %td= @experiment.count_max_invitation_messages_until_now
    %tr
      %td Bereits versendete Einladungen 
      %td= @experiment.count_sent_invitation_messages
    %tr
      %td Noch nicht eingeladene Zugeordnete (ohne bereits angemeldete)
      %td= @experiment.participants.where("participations.invited_at IS NULL AND participations.session_id IS NULL").count 
    %tr
      %td Derzeit noch freie Plätze
      %td= @experiment.space_left
      
  = button_to "Einladungsversand stoppen", invitation_experiment_path(:stop => true), :confirm => "Sind Sie sich sicher?"
  
- else 


  %h3
    Einladungen versenden
  
      
  = form_for @experiment, :url => {:action => "invitation"}, :html => {:method => :post, :class => "guarded_form"} do |f|
    
    #text-tabs
      %ul
        %li
          %a{:href=>"#tabs-1"} Einladungstext
        %li
          %a{:href=>"#tabs-2"} Bestätigungstext
    
      #tabs-1
        Betreff
        %br
        = f.text_field :invitation_subject, :id => "invitation_subject"
        %br
        %br
        
        = render :partial => 'shared/text_templates', :locals => {:data => current_user.settings.templates, :element_id => 'invitation_text' }
        Einladungstext
          
        = f.text_area :invitation_text, :id => "invitation_text"
        %br
        = f.submit "Mailtext speichern", :name => "test", :class => "save_invitation", :disabled => true
        %span.invitation_result
        
      #tabs-2
        Betreff
        %br
        = f.text_field :confirmation_subject, :id => 'confirmation_subject'
        %br
        %br

        = render :partial => 'shared/text_templates', :locals => {:data => current_user.settings.templates, :element_id => 'confirmation_text' }
        Bestätigungstext

        
        = f.text_area :confirmation_text, :id => "confirmation_text"
        %br
        = f.submit "Mailtext speichern", :name => "test", :class => "save_confirmation", :disabled => true
        %span.confirmation_result
        
        
    	
    
    
    
    
    
    %br
    %br
    
    .info{:style => "float:right; width:300px"}
      Derzeit sind 
      %span#count_total= @experiment.participants.where("participations.session_id IS NULL").count
      Teilnehmer zugeordnet und noch nicht in einer Session eingetragen, davon wurden
      %span#count= @experiment.participants.where("invited_at IS NULL AND session_id IS NULL").count
      noch nicht eingeladen.
      
      %br
      %br
      %span#info_text 
    
    Bitte wählen Sie die Anzahl der E-Mails pro Zeitintervall:
    %br
    = f.select :invitation_size, options_for_select([50, 100, 150, 200, 300, 400, 500, 1000, 2000].map{|u| ["#{u} E-Mails",u]}, 200)
    
    %br
    %br
    
    Bitte wählen Sie die Länge eines Zeitintervalls:
    %br
    = f.select :invitation_hours, options_for_select((1..24).map{|u| [if u==1 then "1 Stunde" else "#{u} Stunden" end, u]}, 4)
    %br
    %br
    = f.check_box :invitation_prefer_new_users
    Teilnehmer mit wenig Teilnahmen bevorzugen
    %br
    %br
    = f.submit "Versand starten und Experiment zur Anmeldung freigeben", :confirm => "Sind Sie sich sicher?", :class => "guarded_form_save"
    = f.submit "Versand AN ALLE TEILNEHMER starten", :confirm => "Sind Sie sich sicher? Damit werden AUCH BEREITS EINGELADENE Teilnehmer eingeladen", :class => "guarded_form_save"
    %span#info_text2
    
%br
%br