= content_for :breadcrumb do
  = render :partial => "layouts/crumb", :object => [           |
      link_to("Experimente", experiments_path),                |
      link_to(@experiment.name, experiment_path(@experiment)), |
      "Versand"]

= render :partial => "experiments/enrollment"
  
%h1
  = @experiment.name

= render :partial => "tabs", :locals => {:selected => "Einladungsversand"} 



- if @experiment.invitation_start
  = content_for :head do 
    %script{:type=>"text/javascript"}
      $(reload());
      
  %small{:style => 'float:right'}
    (Aktualisierung in 
    %span#time_info
      60
    Sekunden)
  
  Der Einladungsversand ist im Moment aktiv.
  %br
  %br
  
  %table.table
    %tr
      %td Start dieses Einladungsversands
      %td= @experiment.invitation_start.strftime("%d.%m.%Y, %H:%M Uhr") 

    %tr
      %td Einladungsmodus
      %td= "#{@experiment.invitation_size} / #{@experiment.invitation_hours} Stunden"
    %tr
      %td Zugeordnete Personen (Gesamt)
      %td= @experiment.participants.count
    %tr
      %td davon vor dem Start dieses Einladungsversands bereits eingeladen
      %td= @experiment.participants.where(["participations.invited_at < ?", @experiment.invitation_start]).count
    %tr
      %td Maximalgrenze zu versendender Einladungen bis jetzt 
      %td= @experiment.count_max_invitation_messages_until_now
    %tr
      %td Bereits versendete Einladungen 
      %td= @experiment.count_sent_invitation_messages
    %tr
      %td Noch nicht eingeladene Zugeordnete (ohne bereits angemeldete)
      %td= @experiment.participants.where("participations.invited_at IS NULL AND participations.session_id IS NULL").count 
    %tr
      %td Derzeit noch freie Pl채tze
      %td= @experiment.space_left
    
  %br  
  = link_to "Einladungsversand stoppen", invitation_experiment_path(:stop => true), :confirm => "Sind Sie sich sicher, dass der Versand gestoppt werden soll?", :class => 'btn btn-danger'
  
- else 

  = form_for @experiment, :url => {:action => "invitation"}, :html => {:method => :post, :class => "guarded_form"} do |f|
    %br
    
    .info{:style => "float:right; width:300px"}
      Derzeit sind 
      %span#count_total= @experiment.participants.where("participations.session_id IS NULL").count
      Teilnehmer zugeordnet und noch nicht in einer Session eingetragen, davon wurden
      %span#count= @experiment.participants.where("invited_at IS NULL AND session_id IS NULL").count
      noch nicht eingeladen.
      
      %br
      %br
      %span#info_text 
    
    Bitte w채hlen Sie die Anzahl der E-Mails pro Zeitintervall:
    %br
    = f.select :invitation_size, options_for_select([50, 100, 150, 200, 300, 400, 500, 1000, 2000].map{|u| ["#{u} E-Mails",u]}, 200)
    
    %br
    %br
    
    Bitte w채hlen Sie die L채nge eines Zeitintervalls:
    %br
    = f.select :invitation_hours, options_for_select((1..24).map{|u| [if u==1 then "1 Stunde" else "#{u} Stunden" end, u]}, 4)
    %br
    %br
    = f.check_box :invitation_prefer_new_users
    Teilnehmer mit wenig Teilnahmen bevorzugen
    %br
    %br
    = f.submit "Versand starten und Experiment zur Anmeldung freigeben", :confirm => "Sind Sie sich sicher, dass der Versand gestartet werden soll?", :class => "guarded_form_save btn btn-success"
    = f.submit "Versand AN ALLE TEILNEHMER starten", :confirm => "Sind Sie sich sicher, dass der Versand gestartet werden soll? Damit werden AUCH BEREITS EINGELADENE Teilnehmer eingeladen", :class => "guarded_form_save btn btn-warning"
    %span#info_text2
    
%br
%br