= render :partial => "experiments/enrollment"
  
%h1
  = @experiment.name

= render :partial => "tabs", :locals => {:selected => :invitations} 

= t('.public_link_html')

%br
%br

.well
  = root_url+'?ref='+@experiment.refkey