= content_for :breadcrumb do
  = render :partial => "layouts/crumb", :object => [           |
      link_to(t('administration'), :controller => "admin", :action => "index"), |
      link_to(t(:experiments_header), experiments_path),                |
      link_to(@experiment.name,experiment_sessions_path(@experiment)), |
      t('.reminder')]
      
#state= render :partial => "experiments/enrollment"

%h1
  = @experiment.name
      
= render :partial => "tabs", :locals => {:selected => :options} 


= form_for @experiment, :url => {:action => "reminders"}, :html => {:method => :post, :class => "guarded_form"} do |f|
  %h3=t '.reminder_email'
  
  %br  
    
  = f.check_box :reminder_enabled, :id => "reminder_check"
  =t '.activate_automatic_reminder'
  %br
  %br
  .subpart
    =t '.reminder_info1'
    = f.text_field :reminder_hours, :class => 'span1'
    =t '.reminder_info2'
    %br
    =t :subject
    %br
    = f.text_field :reminder_subject, :class => "span8"
    %br
    %br


    .templated-field-header.span8 
      = render :partial => 'shared/text_templates', :locals => {:data => current_user.settings.templates, :element_id => 'experiment_reminder_text' }
      = render :partial => 'shared/text_insertions', :locals => {:data => ['#firstname', '#lastname', '#session_date_de', '#session_date_en', '#session_start_time', '#session_end_time', '#session_location'], :element_id => 'experiment_reminder_text' }

      =t '.reminder_text'
    = f.text_area :reminder_text, :rows => 5, :class => "span8"
    %br
    %br
  = f.submit t(:save), :name => "test", :class => "guarded_form_save btn btn-primary"
  

   
        
    	
    