= content_for :breadcrumb do
  &gt;
  = link_to "Experimente", experiments_path
  &gt;
  = link_to @experiment.name, experiment_path(@experiment)
  &gt;
  Übersicht
  
= render :partial => "experiments/enrollment"
  
%h1
  = @experiment.name

= render :partial => "tabs", :locals => {:selected => "Übersicht"} 

%br
%br
%br


Infos