<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @experiment.name %>
</p>

<p>
  <b>Public name:</b>
  <%= @experiment.public_name %>
</p>

<p>
  <b>Type:</b>
  <%= @experiment.type %>
</p>

<p>
  <b>Description:</b>
  <%= @experiment.description %>
</p>

<p>
  <b>Old:</b>
  <%= @experiment.old_id %>
</p>


<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>
