= render :partial => "profession_tab"

%br

= link_to "Neuen Beruf anlegen", new_profession_path, :class => "btn btn-primary"

%br
%br

%table.table
  %thead
    %tr
      %th Name  
      %th 
  %tbody      
    - @professions.each do |profession| 
      %tr
        %td= truncate(profession.name, :maxlength => 30)
        %td
          = link_to 'Bearbeiten', edit_profession_path(profession), :class => "btn btn-primary"
          = link_to 'Löschen', profession, :confirm => 'Sind Sie sich sicher, dass Sie diesen Beruf entfernen möchten?', :method => :delete, :class => "btn"
  
%br

%br
%br