= render :partial => "profession_tab"

%br

= link_to t('professions.create_new_profession'), new_profession_path, :class => "btn btn-primary"

%br
%br

%table.table
  %thead
    %tr
      %th Name  
      %th 
  %tbody      
    - @professions.each do |profession| 
      %tr
        %td= truncate(profession.name, :maxlength => 30)
        %td
          = link_to t(:edit), edit_profession_path(profession), :class => "btn btn-primary"
          = link_to t(:delete), profession, :confirm => t('professions.confirm'), :method => :delete, :class => "btn"
  
%br

%br
%br