%h3=t 'account_options'

= render :partial => "tabs", :locals => {:selected => :alternative_email} 

%h3=t '.alternative_email'

=t '.alternative_email_text'


- if !current_user.secondary_email.blank?
  %br
  %br
  
  - if current_user.secondary_email_confirmed_at
    .alert.alert-success
      
      =t '.your_current_alternative_email' 
      %br
      %br
      .well
        %b= current_user.secondary_email
      =t '.was_confirmed'
      %br
    %br
    = button_to t('.delete_alternative_email'), {:delete => 1}, :class => "btn btn-primary", :confirm => t('.confirm_delete_alternative_email')
    %br
  - else
    .alert.alert-error
      =t '.your_current_alternative_email' 
      %br
      %br
      .well
        %b= current_user.secondary_email
      =t '.was_not_confirmed'
      %br
    %br
    = link_to t('.delete_alternative_email'), {:delete => 1}, :class => "btn btn-primary", :confirm => t('.confirm_delete_alternative_email')
    = link_to t('.resend_confirmation_mail'), {:resend => 1}, :class => "btn"
    %br
- else    
  = simple_form_for current_user, :html => {:class => "guarded_form form-horizontal", :'data-alert' => t('guarded_form_message')}, :url => '' do |f| 
    %br
    = f.input :secondary_email, :placeholder => 'name@domain.com', :as => 'email'
    = f.submit t('.save_alternative_email'), :class => "btn btn-primary guarded_form_save"

%br
%br
