= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      =link_to t('login_area'), :controller => "account", :action => "index"
      %span.divider
        &gt;
    %li.active
      = t('.incomplete_data')
      
%h3= t('.incomplete_data')

= t('.incomplete_data_text')      
%br    
%br
= simple_form_for current_user, :url => '', :method => :post, :html => {:class => "form-horizontal"} do |f| 
  - if current_user.birthday.nil?
    = f.input :birthday, :include_blank => true, :order => [:day, :month, :year], :required => false, :start_year => Date.today.year-16, :end_year => 1900
  - if current_user.study_id.nil?  
    = f.input :study_id, :collection => Study.all.map{|s| [s.name, s.id]}, :include_blank => t('no_info')
  - if current_user.begin_month.nil? || current_user.begin_year.nil?
    = f.input :begin_month, :collection => (1..12)
    = f.input :begin_year, :collection => (Time.now.year-10..Time.now.year)
  - if current_user.degree_id.nil?
    = f.input :degree_id, :collection => Degree.all.map{|s| [s.name, s.id]}, :include_blank => t('no_info')
  - if current_user.country_name.nil?
    = f.input :country_name, :priority => [ "Germany" ], :include_blank => true  
  - if current_user.preference.nil?
    = f.input :preference, :collection => {t('form_values.type_both')=>0, t('form_values.type_presence')=>1, t('form_values.type_online')=>2}    
  - if current_user.experience.nil?
    = f.input :experience, :collection => [[t('form_values.no_experience'), false], [t('form_values.has_experience'), true]]   
  - if (current_user.lang1.nil? && current_user.lang2.nil? && current_user.lang3.nil?) 
    = f.input :lang1, :collection => Language.all.map{|s| [s.name, s.id]}, :as => :select, :required => false
    = f.input :lang2, :collection => Language.all.map{|s| [s.name, s.id]}, :as => :select, :required => false, :wrapper_html => {:style => "display:none", :id => "lang2"}
    = f.input :lang3, :collection => Language.all.map{|s| [s.name, s.id]}, :as => :select, :required => false, :wrapper_html => {:style => "display:none", :id => 'lang3'}
  
  = submit_tag t('save_data'), :class => "btn btn-primary"
  
