= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      =link_to "Login-Bereich", :controller => "account", :action => "index"
      %span.divider
        &gt;
    %li.active
      Account-Optionen

%h3 Account-Optionen

= render :partial => "tabs", :locals => {:selected => "E-Mail"} 

%h3 E-Mail-Adresse ändern

- if !current_user.change_email.blank?
  
  Ihre geänderte E-Mail-Adresse 
  %br
  %br
  %b= current_user.change_email
  %br
  %br
  ist derzeit noch nicht bestätigt.
  Es wurde Ihnen eine E-Mail mit einem Link zur Bestätigung Ihrer neuen E-Mail-Adresse zugesendet.
  %br
  %br
  = link_to "E-Mail-Änderung abbrechen", {:delete => 1}, :class => "btn btn-primary", :confirm => "Sind Sie sicher, dass Sie die E-Mail-Änderung abbrechen möchten?"
  = link_to "Bestätigungsemail erneut senden", {:resend => 1}, :class => "btn"
  %br
- else    
  = simple_form_for current_user, :html => {:class => "guarded_form form-horizontal"}, :url => '' do |f| 
    %br
    = f.input :change_email, :placeholder => 'name@domain.com'
    = f.submit "E-Mail-Adresse ändern", :class => "btn btn-primary guarded_form_save"

%br
%br
