= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      =link_to t('login_area'), :controller => "account", :action => "index"
      %span.divider
        &gt;
    %li.active
      = t('.welcome')

- if current_user.show_greeting
  .alert.alert-success
  
    %h3= t('.welcome')
    %br
    = Settings.welcome_text #todo i18n
    %br
    %br
    
.well
  %h3=t('.available_registrations')
  - if current_user.available_sessions.count > 0
    =t('.available_registrations_text')
    %br
    %br
    = link_to t('.enroll_now_button'), enroll_path, :class => "btn btn-primary"
  - else
    =t('.currently_no_sessions')
  
.well
  %h3= t('.current_sessions')

  - @session_participations_in_the_future = current_user.session_participations.includes(:session).where("sessions.start_at > NOW() AND sessions.reference_session_id = sessions.id").order('start_at ASC')
  - if @session_participations_in_the_future.count > 0
    = t('.current_sessions_text')
    %br
    %br
    %table.table
      - @session_participations_in_the_future.each do |sp|
        %tr
          %td
            = sp.session.time_str
            = sp.session.location.name if sp.session.location
            %br
            
            - sp.session.following_sessions.each do |f|  
              = f.time_str 
              = f.location.name if f.location
              %br
          
          
  - else
    = t('.no_current_sessions_text')
    
- if current_user.is_missing_data?
  .well
    %h3= t('.incomplete_data')
    = t('.incomplete_data_text')
    %br
    %br
    = link_to t('.complete_data_link'), account_edit_path, :class => "btn"
    
    
    
  