= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      =link_to t('login_area'), :controller => "account", :action => "index"
      %span.divider
        &gt;
    %li.active
      = t('.home')

- if current_user.show_greeting
  .alert.alert-success
  
    %h3= t('.welcome')
    %br
    - if Settings.welcome_text
      = Settings.welcome_text[I18n.locale.to_s]
    %br
    %br
    
- if @experiment
  .well
    %h3=t('.referral_invitation')
    %p=t('.referral_invitation_html')
    
.well
  %h3=t('.available_registrations')
  - sessions, groups = current_user.available_sessions
  - if sessions.size > 0 || groups.size > 0
    =t('.available_registrations_text')
    %br
    %br
    = link_to t('.enroll_now_button'), enroll_path, :class => "btn btn-primary"
  - else
    =t('.currently_no_sessions')
  
.well
  %h3= t('.current_sessions')

  - @session_participations_in_the_future = current_user.session_participations.includes(:session).where("sessions.start_at > NOW()").order('start_at ASC')
  - if @session_participations_in_the_future.count > 0
    = t('.current_sessions_text')
    %br
    %br
    %table.table
      - @session_participations_in_the_future.each do |sp|
        %tr
          %td
            = sp.session.time_str
            = sp.session.location.name if sp.session.location
            %br
          
  - else
    = t('.no_current_sessions_text')
    
