= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      = link_to t(:root_page), root_path
      %span.divider
        &gt;
    %li.active
      =t 'devise.registrations.new.breadcrumb_register'  

.row
  .span8
    
      
    %h1= t '.header'
    %p
      %br
      =t '.explanation_html'
      %br
      %br
    = render 'layouts/errors', object: current_user 
    
    - current_user.valid?
      
    = simple_form_for current_user, :url => '', :html => {:class => 'form-horizontal'} do |f| 
      %br
      
      
      - CUSTOM_FIELDS.required.each do |field|
        = field.add_to_form(f)
          
      
      = f.submit t('save'), :id => 'register_button', :class => "btn btn-primary"
  
      %br
      %br
      %br
  
