= content_for :breadcrumb do
  %ul.breadcrumb
    %li
      =link_to t('login_area'), :controller => "account", :action => "index"
      %span.divider
        &gt;
    %li.active
      =t 'account_options'

%h3=t 'account_options'

= render :partial => "tabs", :locals => {:selected => :phone} 


%h3=t '.phone_number'
=t '.phone_number_text'
%br
%br
= form_tag '' do
  %b=t '.phone_number'
  %br
  = text_field_tag :phone, current_user.phone
  %br
  %br
  = submit_tag t('.save_phone_number'), :class => "btn btn-primary"