- if @location.new_record?
  - url = locations_path
- else
  - url = location_path(@location)
  
= simple_form_for @location, {:html => {:class => "guarded_form form-horizontal"}, :url => url} do |f| 
  = f.input :name, :required => false, :input_html => { :class => 'span4' }
  = f.input :description, :as => :text, :input_html => { :class => 'span4' }
  
  //%label.checkbox
  //  = f.input :active, :label => false, :wrapper => :none, :boolean_style => :inline
  //  Dieser Raum ist aktiv
  = f.input :active, :label => t('locations.room_active_label')
  
  
  
  
  %br
  
  = f.submit t(:save), :class => "guarded_form_save btn btn-primary"

