= render :partial => "location_tab"

%br
= link_to "Neuen Raum anlegen", new_location_path, :class => "btn btn-primary"
%br
%br

%table.table
  %thead
    %tr
      %th Name  
      %th Beschreibung
      %th 
  
  %tbody      
    - @locations.each do |location| 
      %tr{:class => if location.active? then "" else "inactive" end }
        %td= truncate(location.name, :maxlength => 30)
        %td= truncate(location.description, :maxlength => 100)
        %td
          = link_to 'Bearbeiten', edit_location_path(location), :class => "btn btn-primary"
          - if location.sessions.count == 0 
            = link_to 'Löschen', location, :confirm => 'Sind Sie sich sicher, dass Sie diesen Raum entfernen möchten?', :method => :delete, :class => "btn"
  
%br

.alert.alert-info
  Hinweis: Es können nur Räume gelöscht werden, die nicht belegt wurden.
  
%br
%br