!!!
%html
  %head
    / todo remove this for stable branch
    = analytics_init if Rails.env.production?
    %title Hroot
    %meta{:"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    = csrf_meta_tags
    
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'
    
    = yield :head
    
    
    
    
  %body
    .container
      = render :partial => 'layouts/topbar'
      .row
        .span12
          = yield :breadcrumb
      .row
        .span12.flash
          = render :partial => 'layouts/flash'

      .row  
        .span2
          = render :partial => 'layouts/menu' 
        .span10
          = yield
      
      = render :partial => "layouts/footer"
        
