!!!
%html
  %head
    %title Hroot
    %meta{:"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    
  %body
    .container
      .span-24
        .logo
          .logo-uni
            != image_tag("logo-uni-hh.png")
          .logo-fakultaet
            != image_tag("logo_fakultaet.jpg")
          
        .header-line
          hroot - Rekrutierungssystem für ökonomische Experimente
          .header-menu
            - if !current_user  
              = link_to "Anmelden", new_user_path
              |
              = link_to "Login", login_path
              
             
            - else
              = link_to "Mein Zugang", account_path
              |
              = link_to "Logout", logout_path
          
        - if flash[:notice]  
          .flash= flash[:notice]
        - else
          %br
        %hr
        
      .span-4
        linker Bereich... 
        %br
        Menü 1 
        %br
        Menü 2
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
      .span-20.last
        = yield
      .span-24
        %hr
        fusszeile...
        
