!!!
%html
  %head
    / todo remove in stable branch
    = analytics_init if Rails.env.production?
    %title Hroot
    %meta{:"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    = csrf_meta_tags
    
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'
    
    = yield :head
    
    
    
  / todo maybe this info page is obsolete?  
  %body
    .container
      = render :partial => 'layouts/topbar'
      .row
        .span12
          = render :partial => 'layouts/flash'
      .row
        .span9
          .hero-unit
            %h1
              hroot
            %p
              Hamburg recruitment, organization and optimization tool for experiments in social sciences
            
            %br
            %br
            
            %p=t '.welcome'
              
            %br
          
            %h3=t '.already_registered'
            %p=t '.activate_account'

            %p
              = link_to t('.activate_now'), activate_path, :class => "btn btn-large"
            
            %br
            %h3=t '.contact'
            %p=t '.questions'
              
            %p
              / todo remove this for stable branch
              = link_to 'experiments@wiso.uni-hamburg.de', 'mailto:experiments@wiso.uni-hamburg.de'
            
        .span3
          /todo whatup??
          != image_tag("logo-uni-hh.png")
          %br
          %br
          %br
          %h1=t :login
          
          %p=t '.for_registered_users'
            
          %p
            %br
            = form_for(:user, :url => user_session_path) do |f|
              %p
                =t :email
                %br
                = f.email_field :email

              %p
                =t :password
                %br
                = f.password_field :password 

              %p
                = f.check_box :remember_me
                %label{:class => "remember_check_box", :for => "user_remember_me"}
                  =t 'remember_me'
  
              
              %p= f.submit t(:login), :class => "btn"
        
        
     
        
            
          
      
      = render :partial => "layouts/footer"
        
