!!!
%html
  %head
    %title Hroot
    %meta{:"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    = csrf_meta_tags
    
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'
    
    = yield :head
    
    
    
    
  %body
    .container
      = render :partial => 'layouts/topbar'
      .row
        .span12
          = render :partial => 'layouts/flash'
      .row
        .span9
          .hero-unit
            %h1
              hroot
            %p
              Hamburg registration and organization online tool
            
            %br
            %br
            %p=t '.no_account'
              
            %p
              = link_to t('.register_now'), register_path, :class => "btn btn-primary btn-large"
              
            %br
            %br
          
            %h3=t '.already_registered'
            %p=t '.activate_account'

            %p
              = link_to t('.activate_now'), activate_path, :class => "btn btn-large"
            
        .span3
          != image_tag("mainlogo.png")
          %br
          %br
          %br
          %h1=t :login
          
          %p=t '.for_registered_users'
            
          %p
            %br
            = form_for(:user, :url => user_session_path) do |f|
              %p
                =t :email
                %br
                = f.email_field :email

              %p
                =t :password
                %br
                = f.password_field :password 
                
              %p
                = f.check_box :remember_me
                %label{:class => "remember_check_box", :for => "user_remember_me"}
                  =t 'remember_me'

              %p= f.submit t(:login), :class => "btn"
        
        
     
        
            
          
      
      = render :partial => "layouts/footer"
        
